body {
    margin: 0 50px;
    font-family: Helvetica;
}

#header #logo img {
    border: 0;
}

#content {
    height: 1000px;
}

#right {
    float: left;
}

#explanation {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 100%;
    padding: 5px;
    background: #A4D248;
}
#explanation .attribute {
    font-weight: bold;
}
#explanation img {
    vertical-align: middle;
}
#explanation a {
    color: #30942A;
    font-weight: bold;
    text-decoration: none;
}
#explanation h1 {
    font-size: 90%;
}
#explanation .question {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
#explanation .answer {
    display: block;
    margin-bottom: 5px;
}

#footer {
    background: #A4D248;
    width: 100%;
    height: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#map {
    width: 50%;
    height: 400px;
}

.menu {
    border: 0;
    font-size: 85%; 
    overflow-x: hidden;
    font-size: 120%;
    padding-bottom: 10px;
}
.menu li .name {
    font-weight: bold;
    width: 250px;
    display: inline-block;
    background-color: #A4D248;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.menu li .value {
    margin-left: 25px;
}
.menu select {
    font-size: 100%;
    width: 90%;
}

#stats li {
    padding-bottom: 5px;
}
#stats .represented {
    font-size: 50%;
}
#stats .show_details {
    display: inline-block;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    font-size: 60%;
}
#stats .details {
    display: none;
    position: absolute;
    background-color: #D4EAA9;
    z-index: 5000;
    padding: 10px;
    max-width: 300px;
    font-size: 80%;
}
#stats .details h1 {
    margin: 0;
}

#update_map {
    width: 100px;
    margin-top: 0;
    float: right;
    font-family: inherit;
    font-size: 90%;
    font-weight: inherit;
    border: 0;
}
#update_map span {
    line-height: 1;
}
#update_loading_indicator {
    background: url(img/loading_circle_brown.gif);
    float: right;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    margin-right: 5px;
    display: none;
}

#picker {
    padding: 7px;
    background-color: #9A6C60;
    color: #F2E3C4;
    font-weight: bold;
    margin: 10px;
    margin-top: 5px;
    font-size: 110%;
}
#picker select {
    font-size: 110%;
}
#side {
    float: left;
    width: 250px;
    padding-left: 9px; 
    padding-right: 9px; 
}
#side ul {
    margin: 0;
    padding-left: 0px;
    list-style: none;
}
#statement {
    background-color: #DEDEDE;
    font-size: 130%;
    padding: 20px;
}
#statement .value {
    font-weight: bold;
}

#map_buttons {
    position: absolute;
    font-size: 10px;
}

#map_buttons .button {
    background: white;
    border: 1px solid black;
    padding: 2px;
    float: right;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
}

#map_buttons .button.expanded .label {
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
}

#map_buttons .dropdown {
    display: none;
    text-align: left;
}

#political_borders.button {
    width: 120px;
}
#political_borders_selector {
    padding-top: 10px;
}
#political_borders_selector ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* jQuery UI */
.ui-tabs {
    font-size: 70%;
    padding: 0 !important;
    font-family: inherit !important;
}
.ui-tabs .ui-tabs-nav li a {
    color: #9E9E9E;
}
.ui-tabs .ui-tabs-nav li.ui-state-active a {
    color: black;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover {
    border: 1px solid gray;
    background: #D4D4D4;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover a {
    color: black;
}
.ui-tabs .ui-tabs-nav li.ui-state-active {
    border: 0px !important;
    background: white !important;
}
.ui-tabs .ui-tabs-nav li {
    background: #E5FFD3 !important;
}
.ui-tabs .ui-tabs-nav {
    background: #A4D248 !important;
    border: 0px !important;
    line-height: 0.6;
}
.ui-corner-top {
    -moz-border-radius: 0px !important;
}
.ui-corner-all {
    -moz-border-radius: 0px !important;
}
.ui-tabs .ui-tabs-panel {
    background: white !important;
}
.ui-widget-content {
    border: 0 !important;
}
.ui-tabs label {
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
    width: 150px;
}
.ui-tabs .list {
    display: inline-block;
    width: 300px;
}

/* OpenLayers */
.olControlAttribution {
    bottom: 0.1em !important;
    font-size: xx-small !important;
}
.olControlLoadingPanel {
    background-image: url(img/loading_circle.gif);
    left: 50%;
    top: 10px;
    position: relative;
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}
.olControlZoomPanel {
    height: 96px;
    width: 32px;
}
.olControlZoomPanel .olControlZoomInItemInactive {
    background-image: url(img/sq_plus.png) !important;
    width: 32px;
    height: 32px;
    background-position: 0 50% !important;
    background-repeat: no-repeat;
}
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    background-image: url(img/home.png) !important;
    width: 32px;
    height: 32px;
    background-position: 0 50% !important;
    background-repeat: no-repeat;
    top: 32px !important;
}
.olControlZoomPanel .olControlZoomOutItemInactive {
    background-image: url(img/sq_minus.png) !important;
    width: 32px;
    height: 32px;
    background-position: 0 50% !important;
    background-repeat: no-repeat;
    top: 64px !important;
}

.olPopup {
    background-color: #FDADFF !important;
    font-weight: bold;
}
.olPopupCloseBox {
    background: url(img/delete.png) !important;
}
