{% extends "metrics/map_base.html" %}
{% load garden_tags %}

{% block title %}
    All counted {{ request.session.garden_type|garden_type_label }} gardens
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    All counted {{ request.session.garden_type|garden_type_label }} gardens
{% endblock %}

{% block content %}
    <h1>
        All counted {{ request.session.garden_type|garden_type_label }} gardens
    </h1>
    {{ block.super }}
{% endblock %}

{% block left %}
    <ul class="gardens">
        {% for garden in all_gardens_with_records %}
            <li id="{{ garden.id }}">
                {% if perms.can_edit_any_garden or garden in user_gardens %}
                    <a href="{% url "cropcount_garden_details" pk=garden.id year=request.session.year %}">{{ garden.name }}</a>
                {% else %}
                    <label>{{ garden.name }}</label>
                {% endif %}
            </li>
        {% empty %}
            None.
        {% endfor %}
    </ul>
{% endblock %}
