{% extends "admin_tools/dashboard/module.html" %}
{% load static %}

{% block module_content %}
    <style>
        .set-limit {
            margin-left: 5px;
            margin-right: 5px;
        }
        .actions-list {
            max-height: 400px;
            overflow-y: auto;
        }
        .actions-header {
            margin-left: 10px;
            margin-right: 10px;
        }
        .actions-nav {
            float: right;
        }
        .actions-nav a {
            margin-left: 20px;
        }
        .action-timestamp {
            float: right;
        }
    </style>
    <script src="{% static "actions/node_modules/dot/doT.min.js" %}"></script>
    <script src="{% static "actions/node_modules/moment/moment.js" %}"></script>
    <script src="{% static "actions/node_modules/qwest/qwest.min.js" %}"></script>
    {% verbatim %}
    <script id="item-template" type="text/x-dot-template">
<a href="auth/user/{{=it.actor.id}}">{{=it.actor.username}}</a>
 {{=it.verb}}

{{? it.action_object}}
<a href="{{=it.action_object.url}}">
    {{=it.action_object.display_name}}
</a>
{{?}}

{{? it.target}}
 on
<a href="{{=it.target.url}}">
    {{=it.target.display_name}}
</a>
{{?}}

<span class="action-timestamp">{{=it.formatted_timestamp}}</span>
    </script>
    {% endverbatim %}
    <script src="{% static "actions/index.js" %}"></script>
    <div class="actions-header">
        <div class="actions-nav">
            <a href="#" class="actions-previous">previous</a>
            <a href="#" class="actions-next">next</a>
        </div>
        <div class="actions-limits">
            show
            <a href="#" class="set-limit" data-limit="5">5</a>
            <a href="#" class="set-limit" data-limit="15">15</a>
            <a href="#" class="set-limit" data-limit="50">50</a>
            actions
        </div>
    </div>
    <ul class="actions-list"></ul>
{% endblock %}
