{% extends "metrics/_list_records.html" %}
{% load static %}

{% block record_class %}harvestcount-record{% endblock %}

{% block record_detail %}
    <div class="field-gardener">{{ record.gardener.name }}</div> 
    <div class="field-crop">
        {{ record.crop.name }} 
        {% if record.crop_variety %}
            ({{ record.crop_variety.name }})
        {% endif %}
    </div>
    <div class="field-weight">{{ record.weight|floatformat }} pounds</div>
    <div class="field-dimensions">
        {% if record.plants %}
            {{ record.plants|floatformat }} plants{% if record.area %},{% endif %}
        {% endif %}
        
        {% if record.area %}
            {{ record.area|floatformat }} sq ft
        {% endif %}
    </div>
{% endblock %}
