{% extends "metrics/harvestcount/base.html" %}
{% load static %}

{% block body_class %}{{ block.super }} map-base-page{% endblock %}

{% block content %}
    <h1>{{ request.session.garden_type|default:"all" }} gardens, harvest count</h1>
    {{ block.super }}
{% endblock %}

{% block right %}
    <div id="map" style="width: 100%; height: 300px;"
        {% block map_options %}
            data-lzoom="8"
            data-lcenter="[40.71, -73.98]"
            data-lapikey="781b27aa166a49e1a398cd9b38a81cdf"
            data-lstyleid="24559"
            data-lmetric="{{ metric_name }}"
        {% endblock %}
    ></div>
    {{ block.super }}
{% endblock %}

{% block actions %}
    <h2>
        <a class="image" href="{% url "harvestcount_user_gardens" year=request.session.year %}"><img src="{% static "img/round_arrow_right.png" %}" /></a>
        <a class="text" href="{% url "harvestcount_user_gardens" year=request.session.year %}">View your gardens</a>
    </h2>
    <h2>
        <a class="image" href="{% url "harvestcount_all_gardens" year=request.session.year %}"><img src="{% static "img/round_arrow_right.png" %}" /></a>
        <a class="text" href="{% url "harvestcount_all_gardens" year=request.session.year %}">View all gardens</a>
    </h2>
{% endblock %}
