{% extends "metrics/report_base.html" %}
{% load harvestcount_tags static %}

{% block metric_summary %}
    <span class="metric-summary-number">
        {% harvestcount_total garden=garden start=min end=max as total %}
        {{ total|floatformat }}
    </span>
    <br />
    <span class="metric-summary-units">
        {{ "pounds"|upper }}
    </span>
{% endblock %}

{% block report_page_content %}
    <table>
        <tr></tr>
        <tr>
            <td class="metric-chart-left-padding"></td>
            <td>
                {% harvestcount_chart garden=garden start=min end=max as chart_url %}
                {% if chart_url %}
                    <img class="metric-chart metric-chart-harvestcount" src="{% get_media_prefix %}{{ chart_url }}" />
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="metric-chart-title">
                    {{ "pounds harvested"|upper }}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
