{% load i18n units_tags %}

<div class="summary">
    <div class="summary-details">
        <span class="number">{{ count|default:"0" }}</span>
        <span class="units">harvest{{ count|pluralize }}</span>
    </div>
    <div class="summary-details">
        <span class="number">{{ plant_types|default:"0" }}</span>
        <span class="units">crop{{ plant_types|pluralize }}</span>
    </div>
    <div class="summary-details">
        {% to_preferred_weight_units weight gardens as converted %}
        <span class="number">
            {{ converted.magnitude|floatformat }} 
        </span>
        <span class="units">{{ converted.units }}{{ converted.magnitude|pluralize }}</span>
    </div>
</div>
