{% load compress js static %}

{% compress css %}
    <link rel="stylesheet" href="{% static "lib/leaflet/leaflet.css" %}" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static "lib/leaflet/leaflet.ie.css" %}" />
    <![endif]-->
{% endcompress %}

{% django_js_init jquery=false i18n=false csrf=false %}

{# Load requirejs main, built if in production #}
{% if not debug %}
    {% compress js %}
        <script src="{% static "main-built.js" %}"></script>
    {% endcompress %}
{% else %}
    <script src="{% static "lib/require.js" %}" data-main="{% static "app.js" %}"></script>
{% endif %}
