{% load compress js static %}

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />

{% if debug %}
    <link rel="stylesheet" href="{% static "dist/style.dev.css" %}">
{% else %}
    <link rel="stylesheet" href="{% static "dist/style.css" %}">
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static "hijack/hijack-styles.css" %}" />

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
{% django_js jquery=false i18n=false csrf=false %}

{% if debug %}
    <script src="{% static "dist/app.dev.js" %}"></script>
{% else %}
    <script src="{% static "dist/app.js" %}"></script>
{% endif %}
