{% extends "harvestcount/base.html" %}

{% block title %}Harvest Count{% endblock %}

{% block head %}
<script src="{{ MEDIA_URL }}js/OpenLayers/OpenLayers.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/cloudmade.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/map.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#map').gardenmap({
            type: 'all harvested'
        });
    });   
</script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }} Home {% endblock %}

{% block content %}
<h1>{{ request.session.garden_type }} gardens harvested so far</h1>

<div id="left">
    <ul class="overview">
        <li><b>{{ gardens|default:'0' }}</b> gardens</li>
        <li class="even"><b>{{ gardeners|default:'0' }}</b> gardeners</li>
        <li class="odd"><b>{{ weight|default:'0' }}</b> pounds</li>
        <li class="even"><b>{{ plant_types|default:'0' }}</b> plant types</li>
        <li class="last">
            <span>most recent harvests:</span>
            <ul>
                {% for harvest in recent_harvests %}
                <li>{{ harvest.variety.name }}, {{ harvest.weight }} pounds</li>
                {% empty %}
                <li>None yet!</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <h2>
        <a class="image" href="{% url harvestcount.views.index %}"><img src="{{ MEDIA_URL }}img/round_arrow_right.png" /></a>
        <a class="text" href="{% url harvestcount.views.index %}">View recorded harvests</a>
    </h2>
    <h2>
        <a class="image" href="{% url harvestcount.views.add_garden %}"><img src="{{ MEDIA_URL }}img/round_plus.png" /></a>
        <a class="text" href="{% url harvestcount.views.add_garden %}">Add a harvest</a>
    </h2>
</div>
<div id="right">
    <div id="map" style="width: 400px; height: 300px;"></div>
</div>
{% endblock %}
