{% extends "harvestcount/base.html" %}

{% block title %}Harvest Count{% endblock %}

{% block head %}
<script src="{{ MEDIA_URL }}js/OpenLayers/OpenLayers.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/cloudmade.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/map.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#map').gardenmap({
            queryString: 'harvestcount=yes&type={{ request.session.garden_type.short_name }}&year={{ request.session.year }}',
        });
    });   
</script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }} harvest count{% endblock %}

{% block content %}
<h1>{{ request.session.garden_type }} gardens harvested so far</h1>

<div id="left">
    <ul class="overview">
        <li><b>{{ gardens|default:'0' }}</b> garden{{ gardens|pluralize }}</li>
        <li class="even"><b>{{ gardeners|default:'0' }}</b> gardener{{ gardeners|pluralize }}</li>
        <li class="odd"><b>{{ weight|floatformat|default:'0' }}</b> pound{{ weight|pluralize }}</li>
        <li class="even"><b>{{ plant_types|default:'0' }}</b> plant type{{ plant_types|pluralize }}</li>
        <li class="last">
            <span>most recent harvests:</span>
            <ul>
                {% for harvest in recent_harvests %}
                <li>{{ harvest.variety.name }}, {{ harvest.weight|floatformat }} pound{{ harvest.weight|pluralize }}</li>
                {% empty %}
                <li>None yet!</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<div id="right">
    <div id="map" style="width: 400px; height: 300px;"></div>
</div>
{% endblock %}

{% block actions %}
<h2>
    <a class="image" href="{% url harvestcount.views.user_gardens year=request.session.year %}"><img src="{{ MEDIA_URL }}img/round_arrow_right.png" /></a>
    <a class="text" href="{% url harvestcount.views.user_gardens year=request.session.year %}">View your gardens</a>
</h2>
<h2>
    <a class="image" href="{% url harvestcount.views.all_gardens year=request.session.year %}"><img src="{{ MEDIA_URL }}img/round_arrow_right.png" /></a>
    <a class="text" href="{% url harvestcount.views.all_gardens year=request.session.year %}">View all gardens</a>
</h2>
{% if perms.farmingconcrete.can_edit_any_garden %}
<h2>
    <a class="image" href="{% url harvestcount.views.add_garden year=request.session.year %}"><img src="{{ MEDIA_URL }}img/round_plus.png" /></a>
    <a class="text" href="{% url harvestcount.views.add_garden year=request.session.year %}">Add a garden</a>
</h2>
{% endif %}
{% endblock %}
