{% extends "metrics/map_base.html" %}
{% load static %}

{% block title %}Counted {{ request.session.garden_type }} gardens{% endblock %}

{% block map_params %}
queryString: 'cropcount=yes&type={{ request.session.garden_type.short_name }}',
{% endblock %}

{% block head %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        $('.gardens li a,label').hover(
            function() {
                var id = $(this).parent().attr('id');
                $('#map').data('gardenmap').highlightGarden(id);
            },
            function() {
                $('#map').data('gardenmap').unhighlightGarden();
            }
        );
    });   
</script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }} Gardens {% endblock %}

{% block content %}
<h1>{{ request.session.garden_type }} gardens counted so far</h1>
{{ block.super }}
{% endblock %}

{% block left %}
{% if not user.is_superuser %}
Your gardens
<ul class="gardens">
    {% for garden in user_gardens %}
    <li id="{{ garden.id }}">
        <a href="{% url "cropcount_garden_details" pk=garden.id year=request.session.year %}">{{ garden.name }}</a>
        {% if garden.box_set.count == 0 %}
        no crop count yet
        {% endif %}
    </li>
    {% empty %}
    None.
    {% endfor %}
</ul>
{% endif %}
Other gardens
<ul class="gardens">
    {% for garden in counted_gardens %}
    {% if garden not in user_gardens %}
    <li id="{{ garden.id }}"><label href="{% url "cropcount_garden_details" pk=garden.id year=request.session.year %}">{{ garden.name }}</label></li>
    {% endif %}
    {% empty %}
    <li>None, yet!</li>
    {% endfor %}
</ul>
{% endblock %}

{% block actions %}
{% if perms.farmingconcrete.can_edit_any_garden %}
<h2>
    <a class="image" href="{% url "farmingconcrete_gardens_add" %}"><img src="{% static "img/round_plus.png" %}" /></a>
    <a class="text" href="{% url "farmingconcrete_gardens_add" %}">Add a garden</a>
</h2>
{% endif %}
{% endblock %}
