{% extends "metrics/compost/map_base.html" %}
{% load metrics_tags static %}

{% block title %}{{ metric_name }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url "home" %}">Home</a> &gt;&gt;
    {{ metric_name }}
{% endblock %}

{% block left %}
    {% if summary %}
        <ul class="overview">
            {% summarize metric_name summary=summary %}
        </ul>
    {% else %}
        <p>No records yet.</p>
    {% endif %}
{% endblock %}

{% block actions %}
    {% include "metrics/index/_actions.html" %}
{% endblock %}
