{% extends "metrics/add_record.html" %}

{% block add_record_form %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{{ action }}">

        {% include "forms/head.html" %}

        <div class="row">
            {% include "forms/field.html" with field=form.recorded %}
            <div class="field-totals">
                {% include "forms/field.html" with field=form.total_participants %}
                <div class="row">
                    {% include "forms/field.html" with field=form.total_tags %}
                    {% include "forms/field.html" with field=form.items_tagged %}
                </div>
            </div>
        </div>

        {{ photo_formset.management_form }}

        {% for photo_form in photo_formset.forms %}
            {% include "metrics/lookinggood/event/_photo_form.html" with form=photo_form %}
        {% endfor %}

        {% include "forms/buttons.html" %}
    </form>
{% endblock %}
