{% extends "metrics/garden_detail.html" %}
{% load imagekit lookinggood_tags metrics_tags static %}

{% block body_class %}{{ block.super }} add-lookinggood-event-page{% endblock %}

{% block left %}
    {{ block.super }}
    {% include "metrics/lookinggood/event/_list_records.html" %}
{% endblock %}

{% block right %}
    {{ block.super }}
    <div class="row">
        {% garden_photos for garden as photos %}
        {% for photo in photos %}
            {% thumbnail "800x600" photo.photo as full %}
            <div class="col-md-4 photo-gallery">
                <a href="{{ full.url }}" class="thumbnail">
                    {% thumbnail "200x200" photo.photo %}
                </a>
            </div>
        {% endfor %}
    </ul>
{% endblock %}

{% block actions %}
    <h2>
        {% url "lookinggood_event_garden_csv" pk=garden.pk year=request.session.year as csv_url %}
        <a class="image" href="{{ csv_url }}"><img src="{% static "img/download.png" %}" /></a>
        <a class="text" href="{{ csv_url }}">Download this as a spreadsheet</a>
    </h2>
    {{ block.super }}
{% endblock %}
