{% extends "metrics/add_record.html" %}

{% block add_record_form %}
    <form class="form-horizontal" method="post">

        {% include "forms/head.html" %}

        <div class="row">
            {% include "forms/field.html" with field=form.name %}
            {% include "forms/field.html" with field=form.hours_each_day %}
        </div>

        <div class="row">
            {% include "forms/field.html" with field=form.recorded_start %}
            {% include "forms/field.html" with field=form.recorded %}
        </div>

        <div class="row">
            {% include "forms/field.html" with field=form.collaborated_with_organization %}
            {% include "forms/field.html" with field=form.collaboration_first %}
        </div>

        <div class="field-demographics">
            <section>
                <h4>Youth Ages</h4>
                {% for field in form.youth_fields %}
                    {% include "forms/field.html" with field=field %}
                {% endfor %}
            </section>
            <section>
                <h4>Adult Ages</h4>
                {% for field in form.adult_fields %}
                    {% include "forms/field.html" with field=field %}
                {% endfor %}
            </section>
            <section>
                <h4>Gender</h4>
                {% for field in form.gender_fields %}
                    {% include "forms/field.html" with field=field %}
                {% endfor %}
            </section>
            <section>
                <h4>Location</h4>
                {% for field in form.location_fields %}
                    {% include "forms/field.html" with field=field %}
                {% endfor %}
            </section>
        </div>

        {% for field in form.post_fields %}
            {% include "forms/field.html" with field=field %}
        {% endfor %}

        {% include "forms/buttons.html" %}

    </form>
{% endblock %}
