.select2-container {
    width: 100%;

    &.select2-dropdown-open {
        &.select2-drop-above,
        &.select2-drop-below {
            .select2-choice {
                background: @form-input-background;
                border: none;
            }
        }
    }

    .select2-choice {
        background: @form-input-background;
        border: none;
        border-radius: 0;

        .select2-arrow {
            background: @form-input-background;
            border-left: none;
        }
    }
}

.select2-drop {
    background: @form-input-background;
    border: none;

    .select2-highlighted {
        background: @metric-color;
    }
}
