{% load widget_tweaks %}

<section id="new-harvest" class="add-record">
    <form method="post" action="{% url "harvestcount_add_harvest" id=garden.id %}" class="form-horizontal">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div id="errors">
            {{ form.non_field_errors }}
        </div>

        <div class="form-group required">
            {{ form.gardener.errors }}
            <div class="control-label col-lg-4">
                {{ form.gardener.label_tag }}
                <span id="gardener_help" class="help_link tooltip-trigger" data-title="Pick the gardener who grew this." data-container="body">?</span>
            </div>
            <div class="col-lg-6">
                <div class="controls">
                    {% render_field form.gardener class+="form-control" %} 
                </div>
            </div>
        </div>

        <div class="form-group required">
            {{ form.variety.errors }}
            <div class="control-label col-lg-4">
                {{ form.variety.label_tag }}
            </div>
            <div class="col-lg-6">
                <div class="controls">
                    {% render_field form.variety class+="form-control" %} 
                </div>
            </div>
        </div>

        <div class="form-group required">
            {{ form.weight.errors }}
            <div class="control-label col-lg-4">
                {{ form.weight.label_tag }}
            </div>
            <div class="col-lg-6">
                <div class="controls input-group">
                    {% render_field form.weight class+="form-control" %}
                    <span class="input-group-addon">pounds</span>
                </div>
            </div>
        </div>

        <div class="form-group required">
            {{ form.plants.errors }}{{ form.area.errors }}
            <div class="control-label col-lg-4">
                <label for="id_plants">Plants or area</label>
                <span id="plants_help" class="help_link tooltip-trigger" data-title="Enter the number of plants that the harvest came from. If the type of plant grows densely and difficult to count, enter the area the plant was growing in." data-container="body">?</span>
            </div>
            <div class="col-lg-6">
                <div class="controls">
                    <div class="input-group">
                        {% render_field form.plants class+="form-control" %}
                        <span class="input-group-addon">plants</span>
                    </div>
                    <div class="input-group">
                        {% render_field form.area class+="form-control" %}
                        <span class="input-group-addon">sq ft</span>
                    </div>
                </div>
            </div>
        </div>

        {% include "forms/field.html" with field=form.recorded %}

        <div class="clearfix"></div>

        <div class="form-actions col-lg-offset-4 col-lg-6">
            <button type="submit" class="btn btn-primary">add</button>
        </div>
        <div class="clearfix"></div>

    </form>
</section>
