<div id="harvests">
    <h2 style="font-weight: bold;" class="pre-listview">Harvests for {{ request.session.year }}</h2>
    {% if harvests %}
        <table class="sorted">
            <thead>
            <tr>
                <th class="gardener">gardener</th>
                <th class="variety">plant type</th>
                <th class="weight">lbs</th>
                <th class="dimensions">quantity</th>
                <th class="harvested">date</th>
            </tr>
            </thead>

            <tbody>
                {% for harvest in harvests %}
                    {% include "metrics/harvestcount/gardens/detail_harvest_snippet.html" %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        none
    {% endif %}
</div>
