{% load i18n widget_tweaks %}

<div class="patch-formset form-group">
    {% for hidden in form.hidden_fields %}
        {% if hidden.errors %}
            <div class="alert alert-error">
                {% for error in hidden.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {{ hidden }}
    {% endfor %}
    <div id="errors">
        {{ form.non_field_errors }}
    </div>

    <div class="type form-group required col-sm-3">
        {{ form.crop.errors }}
        <div class="control-label">
            {{ form.crop.label_tag }}
        </div>
        {% render_field form.crop class+="form-control" %}
    </div>

    <div class="type form-group required col-sm-3">
        {{ form.crop_variety.errors }}
        <div class="control-label">
            {{ form.crop_variety.label_tag }}
        </div>
        {% render_field form.crop_variety class+="form-control" %}
    </div>

    <div class="type form-group required col-sm-2">
        {{ form.quantity.errors }}
        <div class="control-label">
            {{ form.quantity.label_tag }}
        </div>
        {% render_field form.quantity class+="form-control" %}
    </div>

    <div class="type form-group required col-sm-3">
        {{ form.units.errors }}
        <div class="control-label">
            {{ form.units.label_tag }}
        </div>
        {% render_field form.units class+="form-control" %}
    </div>

</div>
