{% load i18n %}

<h2>Add a new plant</h2>
<form method="post" action="." data-ajax="false">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <div id="errors">
        {{ form.non_field_errors }}
    </div>
    <div id="inputs">
        {% if not is_mobile %}
            <span class="type">
                {{ form.variety.errors }}
                {{ form.variety.label_tag }}
                <span id="variety_help" class="help_link tooltip-trigger" data-toggle="tooltip" title="Start typing the plant type that you are entering and choose the closest match.">?</span><br />
                {{ form.variety }}
            </span>

            <span class="quantity">
                {{ form.plants.errors }}
                {{ form.area.errors }}
                {{ form.plants }} plants<span id="quantity_help" class="help_link tooltip-trigger" title="Please enter the number of plants of this type and/or the area these plants are planted in. We prefer to know the number of plants, but sometimes that's difficult!">?</span><br />
                <span style="margin-left: 10px; font-size: 10px;">and / or</span><br />
                {{ form.area }} sq ft
            </span>

            <span class="recorded">
                {{ form.recorded.errors }}
                {{ form.recorded.label }}<br />
                {{ form.recorded }}
            </span>
        {% else %}
            <span class="type">
                {{ form.variety.errors }}
                {{ form.variety.label_tag }}
                {{ variety|default:"none selected" }}
                <input type="hidden" id="variety_text" name="variety_text" value="{{ variety }}" />
                <input type="hidden" id="id_variety" name="variety" value="{{ variety.pk }}" />
                <a href="{% url "farmingconcrete_varieties" %}?previous={{ request.path }}" data-role="button" data-inline="true">change</a>
            </span>

            <span class="quantity">
                {{ form.plants.errors }}
                {{ form.area.errors }}
                <div data-role="fieldcontain">
                    {{ form.plants.label_tag }}
                    {{ form.plants }}
                </div>

                <div data-role="fieldcontain">
                    <label for="slider">Use area instead of plants</label>
                    <select name="slider" id="area-flip" data-role="slider" data-theme="a">
                        <option value="off">no</option>
                        <option value="on">yes</option>
                    </select>
                    <div id="area-input" style="display: none;">
                        <label for="id_area">Area (sq ft)</label>
                        <span style="white-space: nowrap;">{{ form.area }}</span>
                    </div>
                </div>
            </span>
        {% endif %}

        <span class="actions">
            <button type="submit" class="btn btn-primary">add</button>
        </span>
    </div>
</form>
