{% extends "registration/base.html" %}
{% load garden_tags i18n static %}

{% block title %}Your account{% endblock %}

{% block body_class %}{{ block.super }} account-page{% endblock %}

{% block content %}
    <h2>
        <img alt="{% trans "Your account" %}" src="{% static "img/your_account.jpg" %}" />
    </h2>

    <div class="row">
        <div class="your-account-content">
            <section class="actions">
                <a class="btn btn-default" href="{% url "django.contrib.auth.views.password_change" %}">
                    {% trans "change your password" %}
                </a>
                <a class="btn btn-primary" href="{% url "django.contrib.auth.views.logout" %}">
                    {% trans "logout" %}
                </a>
            </section>

            <section class="edit">
                <form class="form-horizontal" method="post">
                    {% include "forms/head.html" %}

                    <div class="row">
                        {% include "forms/field.html" with field=form.first_name %}
                        {% include "forms/field.html" with field=form.last_name %}
                    </div>

                    <div class="row">
                        {% include "forms/field.html" with field=form.email %}
                    </div>

                    <div class="row">
                        {% include "forms/field.html" with field=form.email_address_public %}
                    </div>

                    {% include "forms/buttons.html" %}
                </form>
            </section>

            {% garden_list user %}
            <a href="{% url "farmingconcrete_gardens_add" %}" class="btn btn-primary btn-add-garden">
                Add a garden
            </a>
        </div>
    </div>
{% endblock %}
