{% extends "metrics/participation/base.html" %}

{% block body_class %}{{ block.super }} map-base-page{% endblock %}

{% block right %}
    <div id="map" style="width: 100%; height: 300px;"
        {% block map_options %}
            data-lzoom="8"
            data-lcenter="[40.71, -73.98]"
            data-lapikey="781b27aa166a49e1a398cd9b38a81cdf"
            data-lstyleid="24559"
            data-lmetric="{{ metric_name }}"
        {% endblock %}
    ></div>
    {{ block.super }}
{% endblock %}
