<h2>Add a new record</h2>

<form class="form-horizontal" method="post" 
    {% if multipart %}enctype="multipart/form-data"{% endif %}
    {% if action %}action="{{ action }}"{% endif %}
    >

    {% include "forms/head.html" %}

    <div>
        {% for field in form.visible_fields %}
            {% include "forms/field.html" with field=field %}
        {% endfor %}
    </div>

    {{ moodcount_formset.management_form }}

    {% for moodcount_form in moodcount_formset %}
        {% include "metrics/moods/change/_moodcount_form.html" with form=moodcount_form %}
    {% endfor %}

    {% include "forms/buttons.html" %}

</form>
