{% extends "metrics/_list_records.html" %}

{% block record_class %}moods-change-record{% endblock %}

{% block recorded %}
    <div class="field-recorded">
        {{ record.recorded_start|date:"m/d/Y" }} - {{ record.recorded|date:"m/d/Y" }}
    </div>
{% endblock %}

{% block record_detail %}
    <div class="field-counts">
        {% for mood_count in record.moodcount_set.all %}
            <div class="field-mood-count">
                <div class="field-mood">{{ mood_count.mood }}:</div>
                <div class="field-count">{{ mood_count.count }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
