{% extends "metrics/report_base.html" %}
{% load moods_tags static %}

{% block metric_summary %}
    <span class="metric-summary-number">
        {% moods_total garden=garden start=min end=max as total %}
        {{ total|floatformat }}
    </span>
    <br />
    <span class="metric-summary-units">
        {{ "record"|upper }}{{ total|pluralize:"S" }}
    </span>
{% endblock %}

{% block report_page_content %}
    <table>
        <tr></tr>
        <tr>
            <td style="width: 100px;"></td>
            <td>
                {% moods_positive_chart garden=garden start=min end=max as chart_url %}
                <img class="metric-chart metric-chart-moods" src="{% get_media_prefix %}{{ chart_url }}" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="metric-chart-title">{{ "change in positive moods between entering and leaving the garden"|upper }}</td>
        </tr>
        <tr>
            <td style="width: 100px;"></td>
            <td>
                {% moods_negative_chart garden=garden start=min end=max as chart_url %}
                <img class="metric-chart metric-chart-moods" src="{% get_media_prefix %}{{ chart_url }}" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="metric-chart-title">{{ "change in negative moods between entering and leaving the garden"|upper }}</td>
        </tr>
    </table>
{% endblock %}
