{% extends "base.html" %}

{% block subnav %}
    <ul>
        {% with request.session.garden_type as type %}
        <li class="{% if type == 'all' %}active{% endif %}">
            <a href="{% url cropcount.views.switch_garden_type type='all' %}?next={{ request.path }}">all gardens</a>
        </li>
        <li class="{% if type == 'community' %}active{% endif %}">
            <a href="{% url cropcount.views.switch_garden_type type='community' %}?next={{ request.path }}">community gardens</a>
        </li>
        <li class="{% if type == 'school' %}active{% endif %}">
            <a href="{% url cropcount.views.switch_garden_type type='school' %}?next={{ request.path }}">school gardens</a>
        </li>
        {% endwith %}
    </ul>
{% endblock %}

{% block breadcrumbs %}<a href="{% url cropcount.views.index %}">cropcount</a> &gt;&gt; {% endblock %}
