{% extends "cropcount/gardens/base.html" %}

{% block title %}Add a garden{% endblock %}

{% block breadcrumbs %}{{ block.super }} Add a garden {% endblock %}

{% block content %}
    <h1>Add a garden</h1>

    <div id="left">
        <h2>Do Crop Count for a garden we already know about</h2>
        <form method="post" action=".">
            {% csrf_token %}
            {{ uncounted_garden_form.as_p }}
            <input type="submit" value="do Crop Count" />
        </form>
    </div>
    <div id="right">
        <h2>Do Crop Count for a new garden</h2>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div id="inputs">
                {{ form.as_p }}
                <input type="submit" value="add garden and do Crop Count" />
            </div>
        </form>
    </div>
{% endblock %}

