{% extends "cropcount/gardens/base.html" %}

{% block title %}Counted {{ request.session.garden_type }} gardens{% endblock %}

{% block head %}
<script src="{{ MEDIA_URL }}js/OpenLayers/OpenLayers.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/cloudmade.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery-util.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/map.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#map').gardenmap({
            {% block map_params %}
            queryString: 'type={{ request.session.garden_type.short_name }}&cropcount=yes&year={{ request.session.year }}',
            {% endblock %}
        });

        $('.gardens li a,label').hover(
            function() {
                var id = $(this).parent().attr('id');
                $('#map').data('gardenmap').highlightGarden(id);
            },
            function() {
                $('#map').data('gardenmap').unhighlightGarden();
            }
        );
    });   
</script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }} <a href="{% url cropcount.views.index year=request.session.year %}">crop count</a> &gt;&gt; {% endblock %}

{% block content %}
<h1>
    {% block list_label %}
    {{ request.session.garden_type }} gardens counted so far
    {% endblock %}
</h1>
<div id="left">
    <ul class="gardens">
    {% block list %}
    {% endblock %}
    </ul>
</div>
<div id="right">
    <div id="map" style="width: 400px; height: 300px;"></div>
</div>
{% endblock %}

{% block actions %}
{{ block.super }}
{% if perms.farmingconcrete.can_edit_any_garden %}
<h2>
    <a class="image" href="{% url cropcount.views.add_garden year=request.session.year %}"><img src="{{ MEDIA_URL }}img/round_plus.png" /></a>
    <a class="text" href="{% url cropcount.views.add_garden year=request.session.year %}">Add a garden</a>
</h2>
{% endif %}
{% endblock %}
