{% extends "metrics/_list_records.html" %}
{% load i18n participation_tags %}

{% block record_class %}participation-project-record{% endblock %}

{% block record_detail %}
    <div class="field-project">{{ record.project.name }}</div>
    <div class="field-gardener-hours-list">
        {% for gardener in garden_gardeners %}
            {% gardener_project_hours gardener for record as projecthour %}
            {% if projecthour.hours %}
                <div class="field-gardener-hours">
                    <div class="field-gardener">
                        {{ gardener }}:
                    </div>
                    <div class="field-hours">
                        {{ projecthour.hours|floatformat }}
                        {% trans "hour" %}{{ projecthour.hours|pluralize }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
