{% extends "metrics/_list_records.html" %}

{% block table_header %}
    <th class="hours">hours</th>
    <th class="project">project</th>
    <th class="gardener">gardener</th>
    <th class="recorded">recorded</th>
{% endblock %}

{% block table_body %}
    {% for record in records %}
        <tr>
            <td class="number">{{ record.hours|floatformat }}</td>
            <td>{{ record.project.name }}</td>
            <td>{{ record.gardener.name }}</td>
            <td class="date">{{ record.recorded|date:"m/d/Y" }}</td>
        </tr>
    {% endfor %}
{% endblock %}
