{% load i18n %}

<select name="{{ name }}"{% if multiple %} multiple="multiple"{% endif %}{% if required %} required{% endif %}{% include "floppyforms/attrs.html" %}>{% for group_name, group_choices in optgroups %}{% if group_name %}
	<optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
	<option value="{{ option.0 }}"{% if option.0 in value %} selected="selected"{% endif %}>{{ option.1 }}</option>{% endfor %}{% if group_name %}
	</optgroup>{% endif %}{% endfor %}
</select>

<button type="button" data-toggle="modal" data-target="#new-project-modal" href="{% url "participation_project_add" %}" class="btn-participation-new-project btn btn-default btn-xs" style="margin-top: 5px;">
    {% trans "Add a new project" %}
</button>
