{% extends "base.html" %}

{% block title %}{{ garden.name }}{% endblock %}

{% block breadcrumbs %}<a href="{% url farmingconcrete.views.index %}">home</a> &gt;&gt; {{ block.super }}{{ garden.name }}{% endblock %}

{% block head %}
<script src="{{ MEDIA_URL }}js/OpenLayers/OpenLayers.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/cloudmade.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/map.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/help.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#map').gardenmap({
            type: 'single',
            id: {{ garden.id }},   
        });
    });   
</script>
{% endblock %}

{% block content %}
{% if garden %}
    <h1>{{ garden.name }}</h1>

    <div id="left">
        {% block left %}{% endblock %}
    </div>

    <div id="right">
        <div id="map" style="width: 300px; height: 200px;"></div>
    </div>
{% else %}
    <p>No such garden</p>
{% endif %}
{% endblock %}
