{% extends "metrics/landfilldiversion/map_base.html" %}
{% load metrics_tags static %}

{% block title %}Harvest Count{% endblock %}

{% block breadcrumbs %}
    <a href="{% url "home" %}">Home</a> &gt;&gt;
    {{ metric_name }}
{% endblock %}

{% block content %}
    <h1>{{ request.session.garden_type }} gardens, landfill diversion by weight</h1>

    {{ block.super }}
{% endblock %}

{% block left %}
    <ul class="overview">
        {% summarize metric_name summary %}
    </ul>
{% endblock %}

{% block actions %}
    <h2>
        <a class="image" href="{% url "landfilldiversion_weight_user_gardens" year=request.session.year %}"><img src="{% static "img/round_arrow_right.png" %}" /></a>
        <a class="text" href="{% url "landfilldiversion_weight_user_gardens" year=request.session.year %}">View your gardens</a>
    </h2>
    <h2>
        <a class="image" href="{% url "landfilldiversion_weight_all_gardens" year=request.session.year %}"><img src="{% static "img/round_arrow_right.png" %}" /></a>
        <a class="text" href="{% url "landfilldiversion_weight_all_gardens" year=request.session.year %}">View all gardens</a>
    </h2>
{% endblock %}
