{% extends "metrics/report_base.html" %}
{% load landfilldiversion_tags static %}

{% block metric_summary %}
    <span class="metric-summary-number">
        {% landfilldiversion_weight_total garden=garden start=min end=max as total %}
        {{ total|floatformat }}
    </span>
    <br />
    <span class="metric-summary-units">
        {{ "pounds"|upper }}
    </span>
{% endblock %}

{% block report_page_content %}
    <table>
        <tr></tr>
        <tr>
            <td style="width: 100px;"></td>
            <td>
                {% landfilldiversion_weight_chart garden=garden start=min end=max as chart_url %}
                <img style="height: 300px; width: auto;" class="metric-chart metric-chart-landfilldiversion-weight" src="{% get_media_prefix %}{{ chart_url }}" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% landfilldiversion_weight_line_chart garden=garden start=min end=max as chart_url %}
                <img class="metric-chart metric-chart-landfilldiversion-weight-line" src="{% get_media_prefix %}{{ chart_url }}" />
            </td>
        </tr>
    </table>
{% endblock %}
