{% extends "harvestcount/map_base.html" %}
{% load static %}

{% block title %}Counted {{ request.session.garden_type }} gardens{% endblock %}

{% block map_params %}
queryString: 'type={{ request.session.garden_type.short_name }}&harvestcount=yes&year={{ request.session.year }}',
{% endblock %}

{% block head %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function() {
    $('.gardens li a,label').hover(
        function() {
            var id = $(this).parent().attr('id');
            $('#map').data('gardenmap').highlightGarden(id);
        },
        function() {
            $('#map').data('gardenmap').unhighlightGarden();
        }
    );
});   
</script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }} <a href="{% url "harvestcount_index" year=request.session.year %}">harvest count</a> &gt;&gt; {% endblock %}

{% block content %}
<h1>
    {% block list_label %}
    {{ request.session.garden_type }} gardens counted so far
    {% endblock %}
</h1>
{{ block.super }}
{% endblock %}

{% block left %}
<ul class="gardens">
{% block list %}
{% endblock %}
</ul>
{% endblock %}

{% block actions %}
{{ block.super }}
{% if perms.farmingconcrete.can_edit_any_garden %}
<h2>
    <a class="image" href="{% url "farmingconcrete_gardens_add" %}"><img src="{% static "img/round_plus.png" %}" /></a>
    <a class="text" href="{% url "farmingconcrete_gardens_add" %}">Add a garden</a>
</h2>
{% endif %}
{% endblock %}
