<table class="sorted">
    <thead>
    <tr>
        <th class="gardener">gardener</th>
        <th class="variety">plant type</th>
        <th class="weight">lbs</th>
        <th class="dimensions">quantity</th>
        <th class="harvested">date</th>
    </tr>
    </thead>

    <tbody>
    {% for harvest in harvests %}
    <tr class="{% cycle "odd" "even" %}">
        <td class="gardener">
            {{ harvest.gardener.name }}
        </td> 
        <td class="variety">
            {{ harvest.variety.name }}
        </td>
        <td class="weight">
            {{ harvest.weight|floatformat }}
        </td>
        <td class="dimensions">
            {% if harvest.plants %}
            {{ harvest.plants|floatformat }} plants{% if harvest.area %},{% endif %}
            {% endif %}
            
            {% if harvest.area %}
            {{ harvest.area|floatformat }} sq ft
            {% endif %}
        </td>
        <td class="harvested">
            {{ harvest.harvested|date:"n/j/y" }}
        </td>
        {% if editable %}
        <td class="actions">
            <a class="delete" href="{% url "harvestcount.views.delete_harvest" id=harvest.id year=request.session.year %}">
                <img src="{{ MEDIA_URL }}img/round_delete_small.png" title="remove this bed" />
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

