{% load metrics_tags static %}

<h2 class="recorded-header">
    <img src="{% static "img/recorded.png" %}" />
    {% metric_years metric garden as years %}
    <select class="list-records-year pull-right" id="list-records-year">
        {% for year in years %}
            <option {% ifequal year request.session.year %}selected{% endifequal %} value="{% url metric.garden_detail_url_name pk=garden.pk year=year %}">
                {{ year }}
            </option>
        {% endfor %}
    </select>
</h2>

{% block record_list %}
    <ul>
        {% metric_content_type metric as content_type %}
        {% for record in records %}
            <li class="record {% block record_class %}{% endblock %}" data-record-type-pk="{{ content_type.pk }}" data-pk="{{ record.pk }}">

                {% block recorded %}
                    <div class="field-recorded">{{ record.recorded|date:"m/d/Y" }}</div>
                {% endblock %}

                {% block record_detail %}{% endblock %}

                {% ifcandelete metric %}
                    <div class="actions">
                        <a class="delete-record">Delete</a>
                    </div>
                {% endifcandelete %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
