{% load metrics_tags static %}

<h2 class="recorded-header">
    <img src="{% static "img/recorded.png" %}" />
    {% metric_years metric garden as years %}
    <select class="list-records-year pull-right" id="list-records-year">
        {% for select_year in years %}
            <option {% ifequal select_year year %}selected{% endifequal %} value="{% url metric.garden_detail_url_name pk=garden.pk year=select_year %}">
                {{ select_year }}
            </option>
        {% endfor %}
    </select>
</h2>

{% block record_list %}
    <ul>
        {% metric_content_type metric as content_type %}
        {% for record in records %}
            <li class="record {% block record_class %}{% endblock %}" data-record-type-pk="{{ content_type.pk }}" data-pk="{{ record.pk }}">

                {% block record_row_content %}
                    {% block recorded %}
                        <div class="field-recorded">
                            {{ record.recorded|date:"m/d/Y" }}
                            by {{ record.added_by_display }}
                        </div>
                    {% endblock %}

                    {% block record_detail %}{% endblock %}
                {% endblock %}

                {% ifcandelete metric %}
                    {% block record_delete %}
                        <div class="actions">
                            <a class="delete-record">Delete</a>
                        </div>
                    {% endblock %}
                {% endifcandelete %}
            </li>
        {% empty %}
            <div class="record-list-empty">
                No data yet
            </div>
        {% endfor %}
    </ul>
{% endblock %}
