{% extends "base.html" %}
{% load static %}

{% block title %}{{ metric_name }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url "home" %}">Home</a> &gt;&gt;
    {{ metric_name }}
{% endblock %}

{% block content %}
    <div class="col-lg-6 col-sm-6">
        {% block left %}{% endblock %}
    </div>

    <div class="col-lg-6 col-sm-6">
        {% block right %}{% endblock %}
    </div>
{% endblock %}

{% block actions %}
<h2>
    <a class="image" href="{{ index_url }}"><img src="{% static "img/round_arrow_left.png" %}" /></a>
    <a class="text" href="{{ index_url }}">Back to {{ metric_name }}</a>
</h2>
{% endblock %}
