{% extends "metrics/map_base.html" %}
{% load i18n metrics_tags static %}

{% block title %}{{ garden.name }}{% endblock %}
{% block header_title %}{{ garden.name }}{% endblock %}

{% block body_class %}{{ block.super }} metric-garden-page record-list-page{% endblock %}

{% block content %}
    {% if garden %}
        <div class="garden-details clearfix">
            {{ block.super }}
        </div>
    {% else %}
        {# TODO raise 404 instead #}
        <p>No such garden</p>
    {% endif %}
{% endblock %}

{% block left %}
    <h1 class="metric-name">
        <div class="metric-number">
            {{ metric.group_number }}.{{ metric.number }}
        </div>
        {% with metric_src="img/metrics/"|add:metric_name|add:".jpg" %}
            <img src="{% static metric_src %}" />
        {% endwith %}
    </h1>

    <section class="metric-add-record">
        {% block add_record %}
            {% add_record metric_name garden form %}
        {% endblock %}
    </section>

    <section class="metric-list-records">
        {% block list_records %}{% endblock %}
    </section>

    {% url metric.download_url_name pk=garden.pk year=request.session.year as csv_url %}
    <a class="btn btn-default" href="{{ csv_url }}">download data</a>
{% endblock %}

{% block right %}
    {{ block.super }}
    {% include "farmingconcrete/gardens/_list_detail.html" with garden=garden %}
    <div class="summary">
        {% summarize metric_name gardens=garden page="detail" %}
    </div>
{% endblock %}

{% block map_options %}
{{ block.super }}
data-l-gardenid="{{ garden.pk }}"
{% endblock %}
