{% extends "metrics/map_base.html" %}
{% load metrics_tags %}

{% block title %}{{ metric_name }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url "home" %}">Home</a> &gt;&gt;
    {{ metric_name }}
{% endblock %}

{% block left %}
    <section>
        <h2>Summary</h2>
        {% summarize metric_name summary=summary year=year %}
    </section>

    <section>
        <h2>Your gardens</h2>
        <div class="list-group gardens">
            {% for garden in user_gardens %}
                <a class="list-group-item" href="{% url metric.garden_detail_url_name pk=garden.pk year=request.session.year %}">
                    {{ garden.name }}
                </a>
            {% empty %}
                None.
            {% endfor %}
        </ul>
    </section>
{% endblock %}

{% block right %}
    {{ block.super }}
    {% block chart %}{% endblock %}
{% endblock %}

{% block actions %}
    {% include "metrics/index/_actions.html" %}
{% endblock %}
