{% extends "metrics/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body_class %}{{ block.super }} map-base-page{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    {{ block.super }}
{% endblock %}

{% block right %}
    {{ block.super }}
    <div id="map"
        {% block map_options %}
            data-l-zoom="8"
            data-l-center="[40.71, -73.98]"
            data-l-mapbox-id="farmingconcrete.i29og38a"
            data-l-double-click-zoom="false"
            data-l-dragging="false"
            data-l-box-zoom="false"
            data-l-scroll-wheel-zoom="false"
            data-l-touch-zoom="false"
            data-l-zoom-control="false"
        {% endblock %}
    ></div>
{% endblock %}
