{% load static %}

{% block report_page %}
    <div class="page metric">
        {% block report_page_header %}
            {% include "metrics/report_header.html" %}
        {% endblock %}

        {% block report_page_description %}
            <div class="metric-description-row">
                <table>
                    <tr>
                        <td class="metric-description">
                            {% block metric_description %}
                                {{ metric.description|default:"No description available" }}
                            {% endblock %}
                        </td>
                        <td class="metric-summary">
                            {% block metric_summary %}{% endblock %}
                        </td>
                    </tr>
                </table>
            </div>
        {% endblock %}

        {% block report_page_content %}{% endblock %}
    </div>
{% endblock %}
