{% extends "metrics/_list_records.html" %}

{% block record_class %}skills-smarts-record{% endblock %}

{% block table_header %}
    <th class="sortable participants" data-sort="int">participants</th>
    <th class="sortable skills-shared" data-sort="int">skills shared</th>
    <th class="sortable concepts-shared" data-sort="int">concepts shared</th>
    <th class="sortable projects-proposed" data-sort="int">projects proposed</th>
    <th class="sortable ideas-to-learn" data-sort="int">ideas to learn</th>
    <th class="sortable intentions-to-collaborate" data-sort="int">intentions to collaborate</th>
{% endblock %}

{% block record_detail %}
    <div class="field-participants">
        {{ record.participants }} participants
    </div>
    <div class="field-skills-shared">
        {{ record.skills_shared }} skills shared
    </div>
    <div class="field-concepts-shared">
        {{ record.concepts_shared }} concepts shared
    </div>
    <div class="field-projects-proposed">
        {{ record.projects_proposed }} projects proposed
    </div>
    <div class="field-ideas-to-learn">
        {{ record.ideas_to_learn }} ideas to learn
    </div>
    <div class="field-intentions-to-collaborate">
        {{ record.intentions_to_collaborate }} intentions to collaborate
    </div>
{% endblock %}
