{% extends "metrics/_list_records.html" %}

{% block record_class %}participation-geography-record{% endblock %}

{% block record_row_content %}
    <div class="record-row-content">
        <div class="field-recorded">
            {{ record.recorded_start|date:"m/d/Y" }} - {{ record.recorded|date:"m/d/Y" }}
        </div>

        <div class="field-hours-in">
            {{ record.hours_in|floatformat }} hour{{ record.hours_in|pluralize }} "IN"
        </div>
        <div class="field-hours-out">
            {{ record.hours_out|floatformat }} hour{{ record.hours_out|pluralize }} "OUT"
        </div>
    </div>
{% endblock %}
