{% extends "metrics/_list_records.html" %}
{% load imagekit %}

{% block record_class %}participation-geography-record{% endblock %}

{% block record_row_content %}
    <div class="record-row-content">
        <div class="field-recorded">
            {{ record.recorded_start|date:"m/d/Y" }} - {{ record.recorded|date:"m/d/Y" }}
            <br />by {{ record.added_by_display }}
        </div>

        <div class="field-hours-in">
            {{ record.hours_in|floatformat }} hour{{ record.hours_in|pluralize }} "IN"
        </div>
        <div class="field-hours-out">
            {{ record.hours_out|floatformat }} hour{{ record.hours_out|pluralize }} "OUT"
        </div>
    </div>
    <div class="field-photo">
        {% if record.photo %} 
            <div class="photo-gallery">
                <a href="{{ record.photo.url }}">
                    {% thumbnail '150x50' record.photo %}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
