<script>
    $(document).ready(function() {
        {% if is_mobile %}
        $('#area-flip').change(function() {
            $('#area-input').toggle();
        });
        $('a.remember-context').click(function(e) {
            var current_form = $('form :input[name!="csrfmiddlewaretoken"]').serialize();

            var new_url = $(this).attr('href') + '?' + $.param({
                previous: window.location.pathname,
                previous_query_string: current_form,
            });
            $.mobile.changePage(new_url, {
                role: $(this).attr('data-rel'),
            });
            return false;
        });
        {% else %}
        $('#add-new-plant-type a').click(function() {
            $('#add-new-plant-type .adder').toggle();   
            return false;
        });

        var add_plant_type_url = '{% url farmingconcrete_varieties_add %}';

        /*
         * Add plant type when form is submitted.
         */
        $('form').submit(function(e) {
            var name = $('input[name="new-plant-type"]').val();
            get_or_create_plant_type(add_plant_type_url, name, true, function() {});
        });   

        /*
         * Add plant type when person tabs out of plant type field.
         */
        $(':input#id_variety_text').blur(function() {
            // only try to add plant type if autocomplete didn't get something
            if ($(':input#id_variety').val() !== '') return;
            get_or_create_plant_type(add_plant_type_url, $(this).val(), false, function() {});
        });

        {% endif %}
    });
</script>
<div id="new-harvest">
    <h2 style="font-weight: bold; margin-top: 5px;">Add a new harvest</h2>
    <form method="post" action="." data-ajax="false">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <div id="errors">
            {{ form.non_field_errors }}
        </div>
        <div id="inputs">
            <div>
            {% if not is_mobile %}
                {{ form.gardener.errors }}
                <label for="id_gardener_text">{{ form.gardener.label }}:</label>
                {{ form.gardener }} 
                <span id="gardener_help" class="help_link">?</span><br />

                {{ form.variety.errors }}
                <label for="id_variety_text">{{ form.variety.label }}:</label>
                {{ form.variety }} 
                <span id="variety_help" class="help_link">?</span><br />

                <div id="add-new-plant-type">
                    <div class="message"></div>
                    <a href="#">add a new plant type</a>
                    <div class="adder" style="display: none;">
                        <input type="text" name="new-plant-type" />
                        <input type="submit" name="add-new-plant-type" value="add" />
                    </div>
                </div>

                {{ form.weight.errors }}
                <label for="id_weight">{{ form.weight.label }}:</label> 
                {{ form.weight }} pounds 
                <span id="weight_help" class="help_link">?</span><br />

                {{ form.plants.errors }}{{ form.area.errors }}
                <label for="id_plants">Plants <strong>or</strong> area:</label>
                {{ form.plants }} plants {{ form.area }} sq ft 
                <span id="plants_help" class="help_link">?</span><br />

                {{ form.harvested.errors }}
                <label for="id_harvested">Date harvested:</label> 
                {{ form.harvested }} 
                <span id="harvested_help" class="help_link">?</span>
            {% else %}
                <div data-role="fieldcontain">
                    {{ form.gardener.errors }}
                    {{ form.gardener.label_tag }}
                    {{ form.gardener }} 
                    <a class="remember-context" href="{% url harvestcount_add_gardener id=garden.id year=request.session.year %}" data-role="button" data-rel="dialog">add a new gardener</a>
                </div>

                <div data-role="fieldcontain">
                    {{ form.variety.errors }}
                    {{ form.variety.label_tag }}
                    {{ variety|default:"none selected" }}
                    <input type="hidden" id="variety_text" name="variety_text" value="{{ variety }}" />
                    <input type="hidden" id="id_variety" name="variety" value="{{ variety.pk }}" />
                    <a class="remember-context" href="{% url farmingconcrete_varieties %}" data-role="button" data-inline="true">change</a>
                </div>

                <div data-role="fieldcontain">
                    {{ form.weight.errors }}
                    {{ form.weight.label_tag }}
                    {{ form.weight }}
                </div>

                <div class="quantity">
                    <div data-role="fieldcontain">
                        {{ form.plants.errors }}
                        {{ form.plants.label_tag }}
                        {{ form.plants }}
                    </div>

                    <div data-role="fieldcontain">
                        <label for="slider">Use area instead of plants</label>
                        <select name="slider" id="area-flip" data-role="slider" data-theme="a">
                            <option value="off">no</option>
                            <option value="on">yes</option>
                        </select>
                        <div id="area-input" style="display: none;">
                            <label for="id_area">Area (sq ft)</label>
                            <span style="white-space: nowrap;">{{ form.area }}</span>
                        </div>
                    </div>
                </div>

                <div data-role="fieldcontain">
                    {{ form.harvested.errors }}
                    <label for="id_harvested">Date harvested:</label> 
                    <input id="id_harvested" name="harvested" value="{{ form.harvested.value|date:"m/d/Y" }}" type="date" />
                </div>

            {% endif %}
            </div>
            <input type="submit" value="add" />
        </div>
    </form>
</div>
