{% extends "metrics/_list_records.html" %}

{% block table_header %}
    <th class="hours">hours</th>
    <th class="task">task</th>
    <th class="recorded-start">date start</th>
    <th class="recorded">date end</th>
{% endblock %}

{% block table_body %}
    {% for record in records %}
        <tr class="{% cycle "odd" "even" %}">
            <td class="number">{{ record.hours|floatformat }}</td>
            <td class="date">{{ record.task }}</td>
            <td class="date">{{ record.recorded_start|date:"m/d/Y" }}</td>
            <td class="date">{{ record.recorded|date:"m/d/Y" }}</td>
        </tr>
    {% endfor %}
{% endblock %}
