{% extends "metrics/_list_records.html" %}
{% load participation_tags %}

{% block record_class %}participation-task-record{% endblock %}

{% block recorded %}
    <div class="field-recorded">
        {{ record.recorded_start|date:"m/d/Y" }} - {{ record.recorded|date:"m/d/Y" }}
    </div>
{% endblock %}

{% block record_detail %}
    <div class="field-tasks-list">
        {% for task in tasks %}
            <div class="field-task-hours">
                <div class="field-task">
                    {{ task }}:
                </div>
                <div class="field-hours">
                    {% task_hours task for record as taskhour %}
                    {{ taskhour.hours|floatformat|default:"0" }} hours
                </div>
                {% if record.task_other %}
                    {% ifequal task.name "other tasks" %}
                        <div class="field-task_other">
                            {{ record.task_other }}
                        </div>
                    {% endifequal %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
