{% extends "metrics/add_record.html" %}

{% block add_record_form %}
    <form class="form-horizontal" method="post" {% if action %}action="{{ action }}"{% endif %}>

        {% include "forms/head.html" %}

        <div class="row">
            {% include "forms/field.html" with field=form.recorded_start %}
            {% include "forms/field.html" with field=form.recorded %}
        </div>

        <div class="row">
            {{ taskhours_formset.management_form }}

            {% for taskhours_form in taskhours_formset %}
                {% include "metrics/participation/task/_taskhours_form.html" with form=taskhours_form %}
            {% endfor %}
        </div>

        <div class="row">
            {% include "forms/field.html" with field=form.task_other %}
        </div>

        {% include "forms/buttons.html" %}

    </form>
{% endblock %}
