{% extends "metrics/report_header.html" %}
{% load participation_tags %}

<div class="metric-description-row">
    <table>
        <tr>
            <td class="metric-description">
                {{ metric.description|default:"No description available" }}
            </td>
            <td class="metric-summary">
                <span class="metric-summary-number">
                    {% hours_by_task_total garden=garden start=min end=max as total %}
                    {{ total|floatformat }}
                </span>
                <br />
                <span class="metric-summary-units">
                    {{ "hours"|upper }}
                </span>
            </td>
        </tr>
    </table>
</div>
