.account-page {
    h2 {
        .make-header();

        img {
            max-height: 42px;
        }
    }

    .your-account-content {
        .make-sm-column(8);
    }

    .garden-list {
        margin-top: 100px;
    }

    .actions {
        margin-top: 50px;
    }

    .edit {
        margin-top: 50px;

        .field {
            &-first_name {
                .make-md-column(4);
            }
            &-last_name {
                .make-md-column(4);
            }
            &-email {
                .make-md-column(8);
            }
            &-email_address_public {
                .make-md-column(8);
            }
        }
    }
}
