.patch-list .type {
    width: 25%;
}

.patch-list .quantity {
    width: 35%;
}

#new-plant form #inputs span {
    vertical-align: top;
}

#inputs p label,
#inputs label {
    display: inline-block;
}

#beds .name, #beds .dimensions {
    display: inline-block;
}
#beds .name {
    width: 30%;
}
#beds .dimensions {
    width: 45%;
}
#beds #plants {
    margin-top: 5px;
}
#beds li.bed {
    border-bottom: 1px solid black;
}

#new-bed form {
    #id_width,
    #id_length {
        display: inline-block;
        width: 50%;
    }

    .field-dimensions {
        .make-sm-column(8);

        input {
            max-width: 30%;
        }
    }

    .field-name {
        .make-sm-column(2);
    }

}

#new-plant form #id_plants,
#new-plant form #id_area {
    display: inline-block;
    width: 50%;
}

#plants ul li span {
    display: inline-block;
}

ul.values {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding: 3px;
        .odd {
        }
        .even {
            background-color: #F2E3C4;
        }
    }
}
