#feedback {
    background-color: black;
    color: white;
    padding: 5px 10px;
    position: fixed;
    right: percentage((1 / @grid-columns));
    margin-right: 15px;
    top: 0;
    z-index: 2000;
}

#feedback-button {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

#feedback-form {
    display: none;
    padding: 20px;
}
