.garden-detail-page {

    .garden-item {
        border-bottom: 1px dotted black;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    section.metric {
        border-top: 1px dotted black;
        padding: 15px;

        &:last-child {
            border-bottom: 1px dotted black;
        }
    }

    .metric-group {
        border-top: 1px solid black;
        margin-top: 100px;

        &:first-child {
            margin-top: 0;
        }

        h3 {
            margin-bottom: 20px;
            margin-top: 10px;
        }
    }

    .metric-group h3:only-child {
        display: none;
    }
}

.record-list-page #map {
    width: 100%;
    height: 150px;
}
