.add-gardens-page {
    .field {
        &-name {
            .make-sm-column(6);
        }
        &-type {
            .make-sm-column(6);
            &-help {
                color: white;
                cursor: pointer;
                background: black;
                border-radius: 20px;
                display: inline-block;
                font-weight: bold;
                height: 20px;
                text-align: center;
                width: 20px;
            }
        }
        &-address {
            .make-sm-column(6);
        }
        &-city {
            .make-sm-column(6);
        }
        &-state {
            .make-sm-column(3);
        }
        &-zip {
            .make-sm-column(3);
        }
        &-neighborhood {
            .make-sm-column(6);
        }
        &-groups {
            .make-sm-column(8);
            .help-text {
                display: none;
            }
        }
    }

    .tooltip {
        &-inner {
            max-width: 400px;
            text-align: left;
            width: 400px;
        }
    }
}

.add-garden {
    &-map {
        height: 200px;
        width: 100%;
    }

    &-map-error {
        color: @brand-danger;
        display: none;
        font-weight: bold;
    }
}

.add-garden-current-members {
    margin-top: 75px;
}

.garden-suggestions-wrapper.is-loading,
#feedback-form.is-loading {
    opacity: 0.5;
    min-height: 100px;
}

ul.garden-suggestions {
    list-style: none;
    margin: 0;
    padding: 0;
}

.garden-suggestion {
    cursor: pointer;
    padding: 8px;

    &:hover {
        .garden-suggestion-name {
            text-decoration: underline;
        }
    }
}

.btn-invite-member {
    .button-variant(white; black; black);
}

#invite-member-modal {
    .alert {
        display: none;
    }

    &.success .alert-success {
        display: block;
    }

    &.error .alert-danger {
        display: block;
    }
}
