ul.garden-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.garden-list-garden {
    border-bottom: 1px dotted black;
    padding-bottom: 15px;
    padding-top: 15px;

    &:first-child {
        border-top: 1px dotted black;
    }
}

.garden-list-garden-name {
    color: @garden-color;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;

    &:hover {
        color: @garden-color;
    }
}

.garden-list-buttons {
    margin-top: 10px;
}

.garden-list-garden-groups {
    margin-left: 25px;
}
