ul.garden-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.garden-list-garden {
    margin-top: 25px;
}

.garden-list-garden-name {
    font-size: 20px;
}

.garden-list-buttons {
    margin-top: 10px;
}

.garden-list-garden-groups {
    margin-left: 25px;
}
