h2#your-gardens-title {
    margin-bottom: 15px;
    margin-top: 15px;
}

#your-gardens-section {
    border-top: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-add-garden {
    .button-variant(white; black; black);
    margin-top: 15px;
}

#intro-text {
    padding: 50px;
    padding-top: 0;
}
