h2#your-gardens-title {
    margin-bottom: 15px;
    margin-top: 15px;
}

#your-gardens-section {
    border-top: @section-border;
}

.btn-add-garden {
    .button-variant(white; black; black);
    font-size: 18px;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#intro-text {
    .explanatory-text();
    padding: 50px;
    padding-top: 0;
}

.main-index-page {
    .actions {
        margin-top: 50px;
    }

    #left {
        .make-md-column(5);
    }

    #right {
        .make-md-column(7);
    }

    #map {
        height: 400px;
        width: 100%;
    }

    .btn-map {
        color: white;
        position: absolute;
        right: 5px;
        z-index: 1999;

        &-user-gardens {
            top: 5px;
        }
        &-all-gardens {
            top: 30px;
        }
    }

    .overview {
        clear: both;
        margin-top: 25px;

        h2 {
            border-bottom: @separator-border;
            border-top: @section-border;
        }

        &-list {
            .make-row();
            padding-bottom: 40px;
            padding-top: 40px;
            padding-left: 20px;
            padding-right: 20px;

            &-item {
                .make-sm-column(3);
                text-align: center;

                &-counting {
                    color: @garden-color;
                    font-weight: bold;
                    margin-top: 60px;
                }

                &-number {
                    .summary-callout-number();
                }

                &-label {
                    .summary-callout-label();
                }
            }
        }
    }
}
