.add-record,
.list-records {
    margin-bottom: 25px;
    margin-top: 25px;
}

ul.overview {
    font-size: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
ul.overview > li {
    padding: 2px;
    .last {
    }
    .even {
        background-color: #F2E3C4;
    }
}

ul.gardens {
    list-style: none; 
    padding-left: 20px;
}

.help_link {
    font-weight: bold; 
    font-size: 12px;
    cursor: pointer; 
    padding-left: 10px;
}
.help_box {
    display: none;
    position: absolute;
    z-index: 2000;
    background: white;
    border: 1px solid black;
    padding: 3px;
    width: 200px;
}
