.metric {
    &-add-record {
        margin-bottom: 25px;
        margin-top: 25px;
    }

    &-list-records {
        margin-bottom: 25px;
        margin-top: 100px;

        .recorded-header {
            .make-header();
            padding-bottom: 25px;
            padding-top: 10px;

            img {
                max-width: 150px;
            }
        }

        ul {
            list-style: none;
            padding-left: 0;
        }
    }
}

.btn-download-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

// Add records

.add-compost-volume {
    .field-volume {
        .make-sm-column(4);
        .make-sm-column-offset(2);
    }
    .field-recorded {
        .make-sm-column(4);
    }
}

.add-compost-weight {
    .field-weight {
        .make-sm-column(4);
        .make-sm-column-offset(2);
    }
    .field-recorded {
        .make-sm-column(4);
    }
}

.add-lookinggood-event {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .add-row {
        margin-bottom: 25px;
    }

    .delete-row {
        float: right;
        margin-top: -50px;
    }

    .lookinggood-item-formset {
        margin-top: 15px;
    }

    .photo-formset {
        margin-top: 15px;
    }

    .field {
        &-recorded {
            .make-sm-column(6);
        }
        &-totals {
            .make-sm-column(6);
        }
        &-total_tags {
            .make-sm-column(4);
            padding-left: 0;
        }
        &-items_tagged {
            .make-sm-column(8);
            padding-right: 0;
        }

        &-item-left {
            .make-sm-column(4);
        }
        &-comments {
            .make-sm-column(7);
        }

        &-photo {
            .make-sm-column(4);
        }
        &-caption {
            .make-sm-column(7);
        }
    }
}

.add-recipes-tally {
    .row {
        .make-row(0);
    }

    .field {
        &-recorded_start {
            .make-sm-column(4);
        }

        &-recorded {
            .make-sm-column(4);
            .make-sm-column-offset(2);
        }

        &-recipes_count {
            .make-sm-column(4);
        }
    }
}

.add-reach-program {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .field {
        &-name {
            .make-sm-column(8);
        }
        &-hours_each_day {
            .make-sm-column(4);
        }

        &-recorded_start {
            .make-sm-column(4);
        }

        &-recorded {
            .make-sm-column(4);
            .make-sm-column-offset(2);
        }

        &-collaborated_with_organization {
            .make-sm-column(6);
        }

        &-collaboration_first {
            .make-sm-column(6);
        }

        &-demographics {
            .make-row(0);
            border-top: @separator-border;
            margin-top: 15px;
            padding-top: 15px;

            & > section {
                .make-sm-column(3);
            }
        }

        &-features {
            border-top: @separator-border;
            margin-top: 15px;
            padding-top: 15px;

            ul {
                .make-row(0);

                li {
                    .make-sm-column(4);
                }
            }

            .help-text {
                font-style: italic;
            }

            label {
                font-weight: normal;
            }

            input {
                height: 16px;
            }
        }
    }
}

.add-landfilldiversion-volume {
    .field-volume {
        .make-sm-column(4);
        .make-sm-column-offset(2);
    }
    .field-recorded {
        .make-sm-column(4);
    }
}

.add-landfilldiversion-weight {
    .field-weight {
        .make-sm-column(4);
        .make-sm-column-offset(2);
    }
    .field-recorded {
        .make-sm-column(4);
    }
}

.add-moods-change {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .moods-label {
        font-weight: bold;
        text-align: center;
    }

    .field {
        &-recorded_start {
            .make-sm-column(4);
        }
        &-recorded {
            .make-sm-column(4);
            .make-sm-column-offset(1);
        }

        &-moods {
            margin-top: 15px;

            &-labels {
                .make-row(0);
            }

            &-positive {
                .make-row(0);
            }

            &-negative {
                .make-row(0);
                border-top: @separator-border;
                margin-top: 15px;
            }

            &-in {
                .make-sm-column(4);
            }
            &-out {
                .make-sm-column(4);
                .make-sm-column-offset(1);
            }
        }

    }
}

.add-participation-geography {
    .neighborhood-definition-row {
        .make-row();
        border-bottom: @separator-border;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 25px;
    }

    .field {
        &-neighborhood_definition {
            .make-sm-column(8);
        }

        &-recorded_start {
            .make-sm-column(4);
        }

        &-recorded {
            .make-sm-column(4);
            .make-sm-column-offset(2);
        }

        &-in_half {
            .make-sm-column(4);
        }

        &-in_whole {
            .make-sm-column(4);
        }

        &-out_half {
            .make-sm-column(4);
        }

        &-out_whole {
            .make-sm-column(4);
        }

        &-photo {
            .make-sm-column(7);
        }
    }
}

.add-participation-task {

    .field {
        &-recorded_start {
            .make-sm-column(4);
        }

        &-recorded {
            .make-sm-column(4);
            .make-sm-column-offset(2);
        }

        &-taskhours {
            .make-sm-column(5);

            .control-label {
                text-transform: capitalize;
            }
        }

        &-task_other {
            .make-sm-column(6);
        }
    }

}

.add-donations {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .field {
        &-recorded {
            .make-sm-column(4);
        }
        &-produce_name {
            .make-sm-column(6);
        }
        &-pounds {
            .make-sm-column(4);
            .make-sm-column-offset(1);
        }
    }
}

.add-harvestcount {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .field {
        &-recorded {
            .make-sm-column(4);
        }
        &-gardener {
            .make-sm-column(4);
        }
        &-crop {
            .make-sm-column(4);
        }
        &-crop_variety {
            .make-sm-column(4);
        }
        &-weight {
            .make-sm-column(4);
        }
        &-plants-area {
            .make-sm-column(4);
            .input-group {
                margin-bottom: 10px;
            }
        }
    }
}

.add-sales {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .field {
        &-recorded {
            .make-sm-column(4);
        }

        &-product {
            .make-sm-column(3);
        }
        &-unit {
            .make-sm-column(2);
        }
        &-unit_price {
            .make-sm-column(2);
        }
        &-units_sold {
            .make-sm-column(2);
        }
        &-total_price {
            .make-sm-column(3);
        }
    }
}

.add-participation-project {

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .field {
        &-recorded {
            .make-sm-column(4);
        }

        &-project {
            .make-sm-column(6);
        }

        &-gardener {
            .make-sm-column(5);
        }
        &-hours {
            .make-sm-column(3);
        }
    }

    .add-row {
        margin-bottom: 25px;
    }

    .delete-row {
        float: right;
        margin-top: -75px;
    }

}

.add-skills-smarts {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .field {
        &-recorded {
            .make-sm-column(4);
        }

        &-participants {
            .make-sm-column(4);
            .make-sm-column-offset(2);
        }

        &-skills_shared {
            .make-sm-column(4);
        }
        &-skills_shared_examples {
            .make-sm-column(7);
        }

        &-concepts_shared {
            .make-sm-column(4);
        }
        &-concepts_shared_examples {
            .make-sm-column(7);
        }

        &-projects_proposed {
            .make-sm-column(4);
        }
        &-projects_proposed_examples {
            .make-sm-column(7);
        }

        &-ideas_to_learn {
            .make-sm-column(4);
        }
        &-ideas_to_learn_examples {
            .make-sm-column(7);
        }

        &-intentions_to_collaborate {
            .make-sm-column(4);
        }
        &-intentions_to_collaborate_examples {
            .make-sm-column(7);
        }
    }

}

.add-yumyuck-change {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .tasting-label {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    .field {
        &-recorded {
            .make-sm-column(4);
        }
        &-crop {
            .make-sm-column(4);
            .make-sm-column-offset(2);
        }

        &-yumyucks {
            margin-bottom: 15px;
        }

        &-before {
            .make-sm-column(6);
            .make-row(0);
            border-right: 1px dotted black;
        }

        &-after {
            .make-sm-column(6);
            .make-row(0);
        }

        &-yum_before {
            .make-sm-column(6);
        }
        &-yuck_before {
            .make-sm-column(6);
        }
        &-yum_after {
            .make-sm-column(6);
        }
        &-yuck_after {
            .make-sm-column(6);
        }
    }
}


// List records

.record {
    .make-row(0);
    border-bottom: @separator-border;
    padding-bottom: 20px;
    padding-top: 20px;

    .field-recorded {
        .make-sm-column(2);
    }
    .actions {
        .make-sm-column(1);
        font-size: 12px;

        .delete-record {
            cursor: pointer;
        }
    }
}

.compost-volume-record {
    .field-volume {
        .make-sm-column(8);
        font-weight: bold;
    }
}

.compost-weight-record {
    .field-weight {
        .make-sm-column(8);
        font-weight: bold;
    }
}

.cropcount-bed-record {
    .field-bed-details {
        .make-sm-column(9);
    }
    .field-dimensions {
        font-weight: bold;
    }
    .field-name {
        .make-sm-column(2);
    }
    .field-patches {
        font-weight: bold;
    }
    .field-patch {
        .make-row(0);
        border: 0;
        margin-top: 15px;
        padding: 0;

        .field-quantity {
            .make-sm-column(4);
            padding-left: 0;
        }
        .field-crop-name {
            .make-sm-column(6);
        }
        .actions {
            .make-sm-column(2);
        }
    }
    .field-recorded-details {
        margin-top: 15px;
    }
}

.donations-record {
    .field-produce-name {
        .make-sm-column(4);
        font-weight: bold;
    }
    .field-pounds {
        .make-sm-column(4);
        font-weight: bold;
    }
}

.harvestcount-record {
    .field {
        &-gardener {
            .make-sm-column(2);
            font-weight: bold;
        }
        &-crop {
            .make-sm-column(2);
            font-weight: bold;
        }
        &-dimensions {
            .make-sm-column(2);
            font-weight: bold;
        }
        &-variety {
            .make-sm-column(2);
            font-weight: bold;
        }
        &-weight {
            .make-sm-column(2);
            font-weight: bold;
        }
    }
}

.landfilldiversion-volume-record {
    .field-volume {
        .make-sm-column(8);
        font-weight: bold;
    }
}

.landfilldiversion-weight-record {
    .field-weight {
        .make-sm-column(8);
        font-weight: bold;
    }
}

.lookinggood-event-record {
    .field {
        &-details {
            .make-sm-column(9);
        }
        &-total-participants {
            font-weight: bold;
        }
        &-total-tags {
            font-weight: bold;
        }

        &-items-item {
            margin-top: 20px;

            &-header {
                font-weight: bold;
            }
        }

        &-photos {
            border-top: @separator-border;
            margin-top: 15px;
            padding-top: 15px;

            &-photo {
                .make-row(0);
                margin-top: 15px;

                &-thumbnail {
                    .make-sm-column (4);
                    
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }

                &-caption {
                    .make-sm-column (8);
                }
            }
        }
    }

    .separator {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.moods-change-record {
    .field-recorded {
        .make-sm-column(4);
    }
    .field-counts {
        .make-sm-column(7);

        .field-mood-count {
            .make-row(0);
        }

        .field-mood {
            .make-sm-column(8);
            padding-left: 0;
        }
        .field-count {
            .make-sm-column(4);
            font-weight: bold;
            padding-right: 0;
            text-align: right;
        }

        .moods-labels {
            .make-row(0);
            font-weight: bold;

            & > div {
                .make-sm-column(6);
            }
        }

        .moods-positive {
            .make-row(0);
        }

        .moods-negative {
            .make-row(0);
            margin-top: 15px;
        }

        .moods-in {
            .make-sm-column(6);
        }
        .moods-out {
            .make-sm-column(6);
        }
    }
}

.participation-geography-record {
    .record-row-content {
        .make-sm-column(5);
    }

    .field {
        &-photo {
            .make-sm-column(6);
        }

        &-recorded {
            // Undo column styles added globally
            float: none;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }

        &-hours-in,
        &-hours-out {
            font-weight: bold;
        }
    }
}

.participation-project-record {
    .field-project {
        .make-sm-column(3);
        font-weight: bold;
    }
    .field-gardener-hours-list {
        .make-sm-column(6);
        font-weight: bold;
    }
    .field-gardener {
        display: inline-block
    }
    .field-hours {
        display: inline-block
    }
}

.participation-task-record {
    .field-recorded {
        .make-sm-column(4);
    }
    .field-tasks-list {
        .make-sm-column(6);
    }
    .field-task {
        display: inline-block;
        text-transform: capitalize;
    }
    .field-hours {
        display: inline-block;
        font-weight: bold;
    }
    .field-task_other {
        font-weight: bold;
        margin-bottom: 5px;
    }
}

.rainwater-harvest-record {
    .field-recorded {
        .make-sm-column(5);
    }
    .field-volume {
        .make-sm-column(5);
        font-weight: bold;
    }
}

.reach-program-record {
    .field-recorded {
        .make-sm-column(4);
    }
    .field-details {
        .make-sm-column(6);
    }

    .field-label {
        display: inline-block;
        width: 60%;
    }
    .field-value {
        display: inline-block;
        font-weight: bold;
        width: 30%;
    }
}

.recipes-tally-record {
    .field-recorded {
        .make-sm-column(5);
    }
    .field-recipes-count {
        .make-sm-column(5);
        font-weight: bold;
    }
}

.sales-record {
    .field-product {
        .make-sm-column(2);
        font-weight: bold;
    }
    .field-units-sold {
        .make-sm-column(2);
        font-weight: bold;
    }
    .field-unit-price {
        .make-sm-column(2);
        font-weight: bold;
    }
    .field-total-price {
        .make-sm-column(2);
        font-weight: bold;
    }
}

.skills-smarts-record {
    .field-skills-detail {
        .make-sm-column(8);
    }

    .field-participants {
        font-weight: bold;
    }

    .field-skill {
        margin-top: 15px;

        &-value {
            font-weight: bold;
        }
    }
}

.yumyuck-change-record {
    .field-vegetable {
        .make-sm-column(1);
        font-weight: bold;
    }
    .field-yum-before {
        .make-sm-column(1);
        font-weight: bold;
    }
    .field-yuck-before {
        .make-sm-column(2);
        font-weight: bold;
    }
    .field-yum-after {
        .make-sm-column(2);
        font-weight: bold;
    }
    .field-yuck-after {
        .make-sm-column(2);
        font-weight: bold;
    }
}

.summary {
    .make-row();
    font-size: 12px;

    &.empty {
        color: #a0a0a0;
        padding-left: 15px;
    }

    &-record-count {
        .make-sm-column(7);
    }

    &-details {
        .make-sm-column(4);
        font-weight: bold;
    }

    &-last-record-date {
        .make-sm-column(5);
    }
}

.metric-garden-page {
    #left {
        padding-left: 0;
    }

    .metric-name {
        .make-header();
        img {
            margin-left: 20px;
            margin-top: -12px;
            max-height: 42px;
            max-width: 100%;
        }
    }

    .summary {
        border-bottom: @separator-border;
        border-top: @separator-border;
        margin-bottom: 25px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 25px;
        padding-bottom: 5px;
        padding-top: 5px;
        text-align: center;

        .summary-details {
            padding: 10px;
            border-right: @separator-border;

            &:last-child {
                border-right: none;
            }
        }

        .number {
            font-size: 48px;
        }
        .units {
            display: block;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}

ul.gardens {
    list-style: none; 
    padding-left: 20px;
}

.help_link {
    font-weight: bold; 
    font-size: 12px;
    cursor: pointer; 
    padding-left: 10px;
}
.help_box {
    display: none;
    position: absolute;
    z-index: 2000;
    background: white;
    border: 1px solid black;
    padding: 3px;
    width: 200px;
}
