.registration-login-content {
    .make-sm-column(8);

    h2 {
        .make-header();
        margin-bottom: 50px;

        img {
            max-height: 42px;
        }
    }
}

.registration-form-login {
    margin-top: 50px;

    .field {
        &-username {
            .make-sm-column(6);
        }
        &-password {
            .make-sm-column(6);
        }
    }

}
