.report .section {
    margin-bottom: 50px;
}

.report tr.child th {
    padding-left: 35px;
}

.average-yield {
    cursor: pointer;
}
.average-yield:hover {
    border: 3px solid #6EBE44;
}
.average-yield.picked {
    border: 3px solid #6EBE44;
}
