{% load i18n %}

<form class="registration-form" method="post" {% if action %}action="{{ action }}"{% endif %}>
    {% include "forms/head.html" %}

    <div class="fields">
        {% for field in form.visible_fields %}
            {% include "forms/field.html" with field=field %}
        {% endfor %}
    </div>

    <div class="form-actions">
        {% if cancel_button %}
            <button class="btn btn-default btn-cancel" type="button">
                {% trans "cancel" %}
            </button>
        {% endif %}
        {% if not formset %}
            <button class="pull-right btn btn-primary" type="submit">
                {% trans "submit" %}
            </button>
        {% endif %}
    </div>
</form>
