{% extends "base.html" %}
{% load i18n %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div class="row">
        <div class="registration-login-content">
            <p>Please log in.</p>
            <p>You should have received a username and password from the Farming Concrete team. If you've forgotten either, you can <a href="{% url "accounts.views.password_reset" %}">reset your password</a>.</p>

            {% if form.errors %}
                <div class="alert alert-danger">
                    {% trans "Your username and password didn't match. Please try again." %}
                </div>
            {% endif %}

            <form class="registration-form-login" method="post" action="{% url "django.contrib.auth.views.login" %}">
                {% include "forms/head.html" %}
                {% url "home" as home_url %}
                <input type="hidden" name="next" value="{% firstof next home_url %}" />

                <div class="row">
                    {% for field in form.visible_fields %}
                        {% include "forms/field.html" with field=field %}
                    {% endfor %}
                </div>

                <div class="form-actions">
                    <button class="pull-right btn btn-primary" type="submit">
                        {% trans "login" %}
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div>
                    <a class="pull-right btn btn-link" href="{% url "registration_register" %}">
                        {% trans "Or sign up now" %} »
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
