{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}Reset your password{% endblock %}

{% block breadcrumbs %}
{{ block.super }} &gt;&gt; Reset your password
{% endblock %}

{% block content %}
    <h1>{% trans "Reset your password" %}</h1>
    <div class="alert alert-info">
        {% trans "Please enter your email address to reset your password." %}
    </div>
    <form class="form-horizontal" method="post" action="">
        {% include "forms/head.html" %}

        <div>
            {% for field in form.visible_fields %}
                {% include "forms/field.html" with field=field %}
            {% endfor %}
        </div>

        <div class="form-actions">
            <div class="col-lg-offset-4 col-lg-6">
                <button class="btn btn-primary" type="submit">
                    {% trans "reset" %}
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
{% endblock %}
