body {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

img {
    border: 0;
}

a {
    color: #6EBE44;
    text-decoration: none;
}

a:hover {
    color: #6EBE44;
    text-decoration: underline;
}

.nav {
    background: #0CA8A8;
    display: block;
    clear: both;
    text-transform: uppercase;
}

.nav::after {
    content: ".";
    visibility: hidden;
}

.nav ul {
    display: block;
    clear: both;
    padding: 0;
    margin: 0;
}

.nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    border-right: 1px solid white;
}

.nav li a {
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 11px;
    font-weight: bold;
}

#nav li:hover,
#nav li.active {
    background: #098080;
}

#subnav {
    background-color: #8CD1D1;
    text-transform: none;
}

#subnav li:hover,
#subnav li.active {
    background: #65CFCF;
}

#main {
    clear: both;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-left: 5px solid #6EBE44;
    border-right: 5px solid #6EBE44;
    border-bottom: 5px solid #6EBE44;
}

#breadcrumbs {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
}

#left {
    float: left;
    padding: 5px;
    width: 50%;
}
.details #left {
    width: 60%;
}
.map-page #left {
    width: 60%;
}

#right {
    float: right;
    display: block;
    padding: 5px;
}

#bottom h2 {
    padding: 5px 0;
}
#bottom h2 .image {
    padding-right: 15px;
}

#inputs p label,
#inputs label {
    display: inline-block;
    width: 35%;
}

ul.errorlist {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    color: red;
    list-style: none;
    padding-left: 0;
}

ul.values {
    list-style: none;
    margin: 0;
    padding: 0;
}
#plants ul li span {
    display: inline-block;
}
#plants .type {
    width: 25%;
}
#plants .quantity {
    width: 35%;
}
#new-plant form #inputs span {
    vertical-align: top;
}

#beds .name, #beds .dimensions {
    display: inline-block;
}
#beds .name {
    width: 30%;
}
#beds .dimensions {
    width: 45%;
}
#beds #plants {
    margin-top: 5px;
}
#beds li.bed {
    border-bottom: 1px solid black;
}

h2 a.image {
}
h2 a.text {
    position: absolute;
    padding-top: 3px;
}

ul.overview {
    font-size: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
ul.overview > li {
    padding: 2px;
}
ul.overview > li.last {
}
ul.overview > li.even {
    background-color: #F2E3C4;
}

ul.values {
    /*width: 50%;*/
}
ul.values li {
    padding: 3px;
}
ul.values li.odd {
}
ul.values li.even {
    background-color: #F2E3C4;
}

.help_link {
    font-weight: bold; 
    font-size: 12px;
    cursor: pointer; 
    padding-left: 10px;
}
.help_box {
    display: none;
    position: absolute;
    z-index: 2000;
    background: white;
    border: 1px solid black;
    padding: 3px;
    width: 200px;
}

ul.gardens {
    list-style: none; 
    padding-left: 20px;
}

.harvest .gardener {
    display: inline-block;
    width: 25%;
}
.harvest .variety {
    display: inline-block;
    width: 20%;
}
.harvest .weight {
    display: inline-block;
    width: 10%;
}
.harvest .dimensions {
    display: inline-block;
    width: 20%;
}
.harvest .harvested {
    display: inline-block;
    width: 15%;
}

/*** Map stuff ***/
.olControlAttribution {
    bottom: 3px !important;
    font-size: 10px !important;
}

/*** autocomplete ***/
.ac_results {
    width: 160px !important;
}

.ac_over {
    background-color: #0CA8A8 !important;
}

input.ac_loading {
	background: #FFF url('/site_media/img/loading-indicator.gif') no-repeat;
	background-position: right;
}


/* change the X to an image */
.results_on_deck .iconic, .results_on_deck .iconic:hover {
    cursor: pointer;
    float: left;
    background: url(/site_media/img/round_delete_small.png) no-repeat;
    color: transparent;
    border: 0;
    width: 16px;
    padding-right: 2px;
}

.results_on_deck > div {
    clear: both;
}

#new-harvest {
    border-bottom: 2px solid black;
}

/*
 * sorted table styles
 */
table.sorted {
    width: 100%;
}
table.sorted thead tr .header {
    background-image: url(/site_media/img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    border-bottom: 1px solid black;
    cursor: pointer;
    padding-right: 15px;
}
table.sorted thead tr .headerSortUp {
    background-image: url(/site_media/img/asc.gif);
}
table.sorted thead tr .headerSortDown {
    background-image: url(/site_media/img/desc.gif);
}
table.sorted tbody tr.odd {
}
table.sorted tbody tr.even {
    background-color: #F2E3C4;
}
table.cycled tbody tr.odd {
}
table.cycled tbody tr.even {
    background-color: #F2E3C4;
}


.map-page table.totals {
    width: 100%;
}
.map-page table.totals th {
    text-align: left;
}
.map-page table.totals td {
}

.report #cropcount {
    margin-top: 20px;
    margin-bottom: 20px;
}
.report .section {
    margin-bottom: 50px;
}

.collapsible.collapsed .expandee {
    display: none;
}
