{% extends "metrics/report_base.html" %}
{% load rainwater_tags static %}

{% block metric_description %}
    This is the description for rainwater harvest
{% endblock %}

{% block metric_summary %}
    <span class="metric-summary-number">
        {% rainwater_harvest_total garden=garden year="2014" as total %}
        {{ total|floatformat }}
    </span>
    <br />
    <span class="metric-summary-units">
        {{ "gallons"|upper }}
    </span>
{% endblock %}

{% block report_page_content %}
    <table>
        <tr></tr>
        <tr>
            <td style="width: 100px;"></td>
            <td>
                {% rainwater_harvest_chart garden=garden year="2014" as chart_url %}
                <img class="metric-chart metric-chart-rainwater-harvest" src="{% get_media_prefix %}{{ chart_url }}" />
            </td>
        </tr>
    </table>
{% endblock %}
