<div>
    <a class="garden-list-garden-name" href="{% url "farmingconcrete_garden_details" pk=garden.pk %}">{{ garden.name }}</a>

    <div class="garden-list-garden-details">
        {% if garden.address %}
            {{ garden.address }},
        {% endif %}
        {% if garden.borough %}
            {{ garden.borough }}
        {% else %}
            {{ garden.city }}, {{ garden.state }}
        {% endif %}
    </div>

    {% if garden.gardengroup_set.count > 0 %}
        <span class="garden-list-garden-groups">
            {% for group in garden.gardengroup_set.all %}
                <a href="{% url "farmingconcrete_gardengroup_detail" pk=group.pk %}" class="label label-default">
                    {{ group }}
                </a>
            {% endfor %}
        </span>
    {% endif %}
</div>
