{% load i18n %}

<div class="garden-item">
    <h1 class="garden-list-garden-name">{{ garden.name }}</h1>
    <div class="garden-list-garden-details">
        {% if garden.address %}
            {{ garden.address }},
        {% endif %}
        {% if garden.borough %}
            {{ garden.borough }}
        {% else %}
            {{ garden.city }}, {{ garden.state }}
        {% endif %}
    </div>
    <div class="garden-list-garden-actions">
        <a href="{% url "farmingconcrete_gardens_update" pk=garden.pk %}">
            {% trans "Edit" %}
        </a>
        |
        <a href="{% url "farmingconcrete_gardens_leave" pk=garden.pk %}">
            {% trans "Delete" %}
        </a>
    </div>
</div>
