{% extends "garden_base.html" %}
{% load i18n metrics_tags %}

{% block header_title %}{{ garden.name }}{% endblock %}

{% block left %}

    {% if metrics %}
        <section>
            <h2>{% trans "Metrics Recorded at this Garden" %}</h2>

            {% for metric in metrics %}
                <section>
                    <h3>{{ metric.name }}</h3>
                    {% summarize metric.app metric.summary %}
                </section>
                <div class="btn-group">
                    <a href="{% url metric.detail_url_name pk=garden.pk %}" class="btn btn-default">
                        {% trans "View Details" %}
                    </a>
                </div>
            {% endfor %}
        </section>
    {% endif %}

    {% if unrecorded_metrics %}
        <section>
            <h2>{% trans "Metrics Not Recorded at this Garden" %}</h2>

            {% for metric in unrecorded_metrics %}
                <h3>{{ metric.name }}</h3>
                <div class="btn-group">
                    <a href="{% url metric.detail_url_name pk=garden.pk %}" class="btn btn-default">
                        {% trans "Record Now" %}
                    </a>
                </div>
            {% endfor %}
        </section>
    {% endif %}

{% endblock %}

{% block actions %}{% endblock %}
