{% extends "garden_base.html" %}
{% load i18n metrics_tags %}

{% block header_title %}{{ garden.name }}{% endblock %}

{% block left %}

    <h2>{% trans "Metrics Recorded at this Garden" %}</h2>

    {% for metric in metrics %}
        <section>
            <h3>{{ metric.name }}</h3>
            {% summarize metric.app metric.summary %}
        <section>
        <div class="btn-group">
            <a href="{% url metric.detail_url_name pk=garden.pk %}" class="btn btn-default">
                {% trans "View Details" %}
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block actions %}{% endblock %}
