<ul class="garden-suggestions">
    {% if garden_list %}
        Similar gardens found. Click to add:
        {% for garden in garden_list %}
            <li class="garden-suggestion" data-pk="{{ garden.pk }}">
                <div class="garden-list-garden-name garden-suggestion-name">
                    {{ garden.name }}
                </div>
                <div class="garden-suggestion-address">
                    <small>
                        {% if garden.address %}
                            {{ garden.address }}, 
                        {% endif %}
                        {{ garden.borough }}
                    </small>
                </div>
            </li>
        {% endfor %}
    {% endif %}
</ul>
