{% extends "base.html" %}
{% load i18n %}

{% block header_title %}{% trans "Leave a garden" %}{% endblock %}

{% block content %}
    <section>
        <h1>{% trans "Leave a garden" %}</h1>
        <p>
            {% blocktrans %}
                Are you sure you want to leave {{ garden }}? This will remove 
                it from your list. No data will be deleted.
            {% endblocktrans %}
        </p>
        <p>
            <a href="{% url "home" %}" class="btn btn-default">
                {% trans "No, nevermind" %}
            </a>
            <a href="{% url "farmingconcrete_gardens_leave_confirmed" pk=garden.pk %}" class="btn btn-primary">
                {% trans "Yes" %}
            </a>
        </p>
    </section>
{% endblock %}
