{% extends "base.html" %}

{% block header_title %}Leave a garden{% endblock %}

{% block content %}
    <section>
        <h1>Leave a garden</h1>
        <p>
            Are you sure you want to leave {{ garden }}? This will remove it from
            your list. No data will be deleted.
        </p>
        <p>
            <a href="{% url "home" %}" class="btn btn-default">
                No, nevermind
            </a>
            <a href="{% url "farmingconcrete_gardens_leave_confirmed" pk=garden.pk %}" class="btn btn-primary">
                Yes
            </a>
        </p>
    </section>
{% endblock %}
