{% extends "registration/base.html" %}
{% load garden_tags i18n %}

{% block title %}Your account{% endblock %}

{% block body_class %}{{ block.super }} account-page{% endblock %}

{% block content %}
    <section>
        <a class="btn btn-default" href="{% url "django.contrib.auth.views.password_change" %}">
            {% trans "change your password" %}
        </a>
        <a class="btn btn-primary" href="{% url "django.contrib.auth.views.logout" %}">
            {% trans "logout" %}
        </a>
    </section>

    {% garden_list user %}
    <a href="{% url "farmingconcrete_gardens_add" %}" class="btn btn-primary btn-add-garden">
        Add a garden
    </a>
{% endblock %}
