{% extends "base.html" %}
{% load farmingconcrete_tags garden_tags i18n widget_tweaks %}

{% block title %}{% include "farmingconcrete/garden_form_title.html" with garden=garden %}{% endblock %}
{% block header_title %}{% include "farmingconcrete/garden_form_title.html" with garden=garden %}{% endblock %}

{% block body_class %}add-gardens-page{% endblock %}

{% block content %}
    <h1>{% include "farmingconcrete/garden_form_title.html" with garden=garden %}</h1>

    <div class="col-lg-8">
        <section>
            {% if not garden %}
                <p>
                    {% blocktrans %}
                        Add a garden to Farming Concrete. The garden will be added to
                        your account. 
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}
                        If you enter a garden name that matches an existing one it 
                        will show up to the right.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}
                        Otherwise, once you fill in all of the address information,
                        the garden should show up on the map to the right.
                    {% endblocktrans %}
                </p>
            {% endif %}

            <form method="post" {% if action %}action="{{ action }}"{% endif %} class="garden-form {% if garden %}edit-garden{% else %}add-garden{% endif %}">
                {% include "forms/head.html" %}

                <div class="row">

                    {% with field=form.name %}
                        <div class="form-group field-{{ field.name }} {% if field.errors %}has-error{% endif %} {% if field.field.required %}required{% endif %}">
                            <div class="control-label">
                                {{ field.label_tag }}
                            </div>
                            <div class="controls">
                                {% render_field field class+="form-control" autocomplete="off" %}

                                {% if field.errors %}
                                    <div class="help-block">
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}

                    {% with field=form.type %}
                        <div class="form-group field-type {% if field.errors %}has-error{% endif %} {% if field.field.required %}required{% endif %}">
                            <div class="control-label">
                                <div style="float: right;" class="field-type-help" data-toggle="tooltip" data-placement="left" data-html="true" title="{% garden_type_descriptions %}">?</div>
                                {{ field.label_tag }}
                            </div>
                            <div class="controls">
                                {% render_field field class+="form-control" placeholder=field.help_text %}

                                {% if field.errors %}
                                    <div class="help-block">
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}
                </div>
                <div class="row">
                    {% include "forms/field.html" with field=form.address %}
                </div>
                <div class="row">
                    {% include "forms/field.html" with field=form.city %}
                    {% include "forms/field.html" with field=form.state %}
                    {% include "forms/field.html" with field=form.zip %}
                </div>
                <div class="row">
                    {% include "forms/field.html" with field=form.neighborhood %}
                </div>
                <div class="row">
                    {% include "forms/field.html" with field=form.groups %}
                </div>

                <section class="add-garden-privacy">
                    <h2>Privacy settings</h2>
                    <p>
                        {% trans "Your data will be made anonymously available on the" %}
                        <a href="/mill/">Mill</a>.
                        {% trans "If you would like to share more information about your garden, enable the following settings:" %}
                    </p>
                    {% for field in form.privacy_fields %}
                        {% include "farmingconcrete/gardens/privacy_checkbox_field.html" %}
                    {% endfor %}
                </section>

                {% include "forms/buttons.html" %}
            </form>
        </section>

        {% if garden %}
            <section class="add-garden-current-members">
                <h2>Current garden members</h2>
                {% garden_member_list garden %}

                <button type="button" data-toggle="modal" data-target="#invite-member-modal" class="btn btn-primary btn-invite-member" href="{% url "gardenmemberships_invite" %}">
                    {% trans "invite another member" %}
                </button>

                <div id="invite-member-modal" class="modal fade" data-garden="{{ garden.pk }}">
                    <div class="modal-dialog">
                        <div class="modal-content"></div>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>

    <div class="col-lg-4">
        <div class="garden-suggestions-wrapper"></div>
        <div id="add-garden-map" class="add-garden-map"
            data-l-zoom="8"
            data-l-center="[40.71, -73.98]"
            data-l-mapbox-id="farmingconcrete.i29og38a"
        ></div>
        <div class="add-garden-map-error">
            Could not find your garden. Check your address again?
        </div>
    </div>
{% endblock %}
