{% extends "base.html" %}
{% load account_tags garden_group_tags i18n %}

{% block body_class %}garden-group-page{% endblock %}

{% block header_title %}{{ gardengroup.name }}{% endblock %}

{% block content %}
    <section>
        <h1>{{ gardengroup.name }}</h1>

        {% ifcaneditgroup gardengroup request.user %}
            <a class="btn btn-default" href="{% url "farmingconcrete_gardengroup_update" pk=gardengroup.pk %}">Edit</a>
        {% endifcaneditgroup %}

        <div id="map" class="group-map"
            data-l-group="{{ gardengroup.pk }}"
            data-l-mapbox-id="farmingconcrete.i29og38a"
        ></div>

        <section class="garden-group-section">
            <h2>{% trans "Gardens in this group" %}</h2>
            <ul class="garden-list">
                {% for garden in gardengroup.active_gardens.all %}
                    <li class="garden-list-garden">
                        {% include "farmingconcrete/gardengroup/member_garden_detail.html" with garden=garden %}
                    </li>
                {% endfor %}
            </ul>

            {% ifgardengroupadmin gardengroup %}
                <section class="garden-group-section" id="requests">
                    <h3>{% trans "Invite gardens to join this group" %}</h3>
                    <p>{% trans "Type to select a garden below and invite the garden to the group. The admins of those gardens will get emails asking them to join." %}</p>
                    {% url "farmingconcrete_gardengroup_invite" pk=gardengroup.pk as invite_action %}
                    {% include "_form.html" with action=invite_action form=invite_garden_form %}
                </section>
            {% endifgardengroupadmin %}
        </section>

        {% with requests=gardengroup.requesting_gardens.all %}
            {% if requests.exists %}
                <section class="garden-group-section" id="requests">
                    <h2>{% trans "Gardens requesting access to join this group" %}</h2>
                    {% include "farmingconcrete/gardens/_group_requesting_list.html" with gardens=requests group=gardengroup %}
                </section>
            {% endif %}
        {% endwith %}

        <section class="garden-group-section">
            <h2>{% trans "Group admins" %}</h2>
            {% garden_group_member_list gardengroup %}

            {% ifgardengroupadmin gardengroup %}
                <section class="add-garden-group-admin">
                    <h3>{% trans "Add group admins" %}</h3>
                    <p>Choose from the gardeners in the group to add as admins for this group. Admins can add and remove admins, accept gardens' requests to join the group, and download data for the whole group.</p>
                    {% url "gardengroupmemberships_member_add" pk=gardengroup.pk as add_action %}
                    {% include "_form.html" with action=add_action form=add_admin_form %}
                </section>
            {% endifgardengroupadmin %}
        </section>

        <section class="garden-group-section">
            <h2>{% trans "Export" %}</h2>
            <a class="btn btn-default btn-download" href="{% url "reports_group_export" pk=gardengroup.pk %}">download data</a>
        </section>

    </section>
{% endblock %}
