{% load i18n %}

{% if gardens %}
    <ul class="garden-list">
        {% for garden in gardens %}
            <li class="garden-list-garden">
                <div class="garden-list-garden-main">
                    {% block detail %}
                        {% include "farmingconcrete/gardens/_detail.html" with garden=garden %}
                    {% endblock %}
                </div>
                <div class="garden-list-garden-actions">
                    {% block actions %}
                        <a href="{% url "farmingconcrete_gardens_update" pk=garden.pk %}">{% trans "Edit" %}</a>
                        <span class="garden-list-garden-actions-separator">|</span>
                        <a href="{% url "farmingconcrete_gardens_leave" pk=garden.pk %}">{% trans "Delete" %}</a>
                    {% endblock %}
                </div>
                <div class="garden-list-garden-buttons">
                    {% block buttons %}
                        <a href="{% url "farmingconcrete_garden_details" pk=garden.pk %}" class="btn btn-default btn-add-data">
                            {% trans "add data" %}
                        </a>
                    {% endblock %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>
        It looks like you don't have access to any gardens yet.
        Add one?
    </p>
{% endif %}
