{% extends "base.html" %}
{% load i18n %}

{% block body_class %}garden-group-page{% endblock %}

{% block header_title %}{{ gardengroup.name }}{% endblock %}

{% block content %}
    <section>
        <h1>{{ gardengroup.name }}</h1>

        <a class="btn btn-default" href="{% url "farmingconcrete_gardengroup_update" pk=gardengroup.pk %}">Edit</a>

        <section class="garden-group-section">
            <h2>{% trans "Gardens in this group" %}</h2>
            <ul class="garden-list">
                {% for garden in gardengroup.active_gardens.all %}
                    <li class="garden-list-garden">
                        {% include "farmingconcrete/gardens/_detail.html" with garden=garden %}
                    </li>
                {% endfor %}
            </ul>
        </section>

        {% with requests=gardengroup.requesting_gardens.all %}
            {% if requests.exists %}
                <section class="garden-group-section" id="requests">
                    <h2>{% trans "Gardens requesting access to join this group" %}</h2>
                    {% include "farmingconcrete/gardens/_group_requesting_list.html" with gardens=requests group=gardengroup %}
                </section>
            {% endif %}
        {% endwith %}

        <section class="garden-group-section">
            <h2>{% trans "Export" %}</h2>
            <a class="btn btn-default btn-download" href="{% url "reports_group_export" pk=gardengroup.pk %}">download data</a>
        </section>

    </section>
{% endblock %}
