{% extends "base.html" %}
{% load farmingconcrete_tags garden_tags humanize i18n static %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block body_class %}main-index-page{% endblock %}

{% block content %}
    <div class="row">
        <div id="left">

            <section id="intro-text">
                <p>
                    {% url "data_collection_toolkit" as toolkit_url %}
                    {% blocktrans %}
                        Welcome to the 
                        <a href="http://farmingconcrete.org">Farming Concrete</a> Barn,
                        where you can store the data you collect with the 
                        <a href="{{ toolkit_url }}">Five Borough Farm Data Collection Toolkit</a>,
                        developed by the Design Trust for Public Space 
                        in collaboration with Farming Concrete.
                    {% endblocktrans %}
                </p>

                {% if not user.is_authenticated %}

                    {% url "django.contrib.auth.views.login" as login_url %}
                    {% url "registration_register" as register_url %}
                    <p>
                        {% blocktrans %}
                            If you are a gardener and would like to start entering data, 
                            please 
                            <a href="{{ login_url }}" data-role="button">log in</a> 
                            first. If you don't yet have a login, you can 
                            <a href="{{ register_url }}">create one now</a>
                            If you are just visiting, we will eventually have some public 
                            reports here for you to view.
                        {% endblocktrans %}
                    </p>

                    <p>
                        {% blocktrans %}
                            If you have any problems or questions, please email us at 
                            <strong>gardens (at) farmingconcrete (dot) org</strong>.
                        {% endblocktrans %}
                    </p>

                    <div class="actions">
                        <a class="btn btn-default" href="{{ register_url }}">
                            {% trans "Register" %}
                        </a>
                        <a class="btn btn-primary" href="{{ login_url }}">
                            {% trans "Log in" %}
                        </a>
                    </div>
                {% endif %}
            </section>
        </div>

        <div id="right">
            <div id="map"
                {% block map_options %}
                    data-l-zoom="8"
                    data-l-center="[40.71, -73.98]"
                    data-l-mapbox-id="farmingconcrete.i29og38a"
                    data-l-user_gardens="true"
                {% endblock %}
            >
                {% if user.is_authenticated %}
                    <div class="btn-group btn-map" data-toggle="buttons">
                        <label class="btn btn-default btn-xs active">
                            <input type="radio" name="garden-membership" id="user" autocomplete="off" checked> Your Gardens
                        </label>
                        <label class="btn btn-default btn-xs">
                            <input type="radio" name="garden-membership" id="all" autocomplete="off"> All Gardens
                        </label>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <section class="overview">
        <h2><img src="{% static "img/overview.jpg" %}" /></h2>
        {% overview as overview_data %}
        <div class="overview-list">
            <div class="overview-list-item">
                <div class="overview-list-item-number overview-gardens">
                    {{ overview_data.gardens }}
                </div>
                <div class="overview-list-item-label">gardens recording data</div>
            </div>
            <div class="overview-list-item">
                <div class="overview-list-item-number overview-harvest-pounds">
                    {{ overview_data.pounds_of_food|floatformat|intcomma }}
                </div>
                <div class="overview-list-item-label">pounds of food harvested</div>
            </div>
            <div class="overview-list-item">
                <div class="overview-list-item-number overview-compost-pounds">
                    {{ overview_data.pounds_of_compost|floatformat|intcomma }}
                </div>
                <div class="overview-list-item-label">pounds of compost</div>
            </div>
            <div class="overview-list-item overview-list-item-counting">and counting!</div>
        </div>
    </section>

    {% if user.is_authenticated %}
        <section id="your-gardens-section">
            <h2 id="your-gardens-title">
                <img src="{% static "img/your_gardens.jpg" %}" />
            </h2>
            {% garden_list user %}

            <a href="{% url "farmingconcrete_gardens_add" %}" class="btn btn-primary btn-add-garden">
                Add a garden
            </a>
        </section>
    {% endif %}
{% endblock %}
