{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block body_class %}main-index-page{% endblock %}

{% block content %}
    {% if not is_mobile %}

        <header>
            <h1>{% trans "Farming Concrete Barn" %}</h1>
            <p>
                {% blocktrans %}
                    Welcome to the 
                    <a href="http://farmingconcrete.org">Farming Concrete</a> Barn,
                    where we store our data.
                {% endblocktrans %}
            </p>
        </header>

        {% if not user.is_authenticated %}

            {% url "django.contrib.auth.views.login" as login_url %}
            {% url "registration_register" as register_url %}
            <p>
                {% blocktrans %}
                    If you are a gardener and would like to start entering data, 
                    please 
                    <a href="{{ login_url }}" data-role="button">log in</a> 
                    first. If you don't yet have a login, you can 
                    <a href="{{ register_url }}">create one now</a>
                    If you are just visiting, we will eventually have some public 
                    reports here for you to view.
                {% endblocktrans %}
            </p>

            <p>
                {% blocktrans %}
                    If you have any problems or questions, please email us at 
                    <strong>gardens (at) farmingconcrete (dot) org</strong>.
                {% endblocktrans %}
            </p>

            <p>
                <a class="btn btn-default" href="{{ register_url }}">
                    {% trans "Register" %}
                </a>
                <a class="btn btn-primary" href="{{ login_url }}">
                    {% trans "Log in" %}
                </a>
            </p>

        {% else %}
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <section>

                        <p>
                            <a href="{% url "farmingconcrete_gardens_add" %}" class="btn btn-primary">
                                Add a garden
                            </a>
                        </p>

                        {% if user_gardens %}
                            <p>You have access to the following garden{{ user_gardens|pluralize }}:
                                <ul class="garden-list">
                                    {% for garden in user_gardens %}
                                        <li class="garden-list-garden">
                                            {% include "farmingconcrete/gardens/_detail.html" with garden=garden %}
                                            <div class="garden-list-buttons">
                                                <a href="{% url "farmingconcrete_gardens_leave" pk=garden.pk %}" class="btn btn-danger btn-mini">
                                                    Leave
                                                </a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </p>
                        {% else %}
                            <p>
                                It looks like you don't have access to any gardens yet.
                                Add one?
                            </p>
                        {% endif %}

                    </section>

                </div>
                <div class="col-lg-6 col-sm-6">
                    <div id="map" style="width: 100%; height: 300px;"></div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div id="logo"></div>
        <h1 style="width: 100%; text-align: center;">Farming Concrete Barn</h1>
        <div>
            <ul data-role="listview" data-inset="true">
                {% if user.is_authenticated %}
                <li><a href="{% url "django.contrib.auth.views.logout" %}">Logout</a></li>
                {% else %}
                <li><a href="{% url "django.contrib.auth.views.login" %}">Login</a></li>
                {% endif %}
            </ul>
            <ul data-role="listview" data-inset="true">
            </ul>
            <div class="clear"></div>
        </div>
    {% endif %}

    {% verbatim %}
        <script id="popup-template" type="text/x-handlebars-template">
            <div class="garden-popup">
                <div class="garden-popup-name">
                    <a href="{{url}}" target="_blank">
                        {{garden.properties.name}}
                    </a>
                </div>
            </div>
        </script>
    {% endverbatim %}

{% endblock %}

{% if is_mobile %}
    {% block header %}{% endblock %}
    {% block footer %}{% endblock %}
{% endif %}
