{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block body_class %}main-index-page{% endblock %}

{% block content %}
    {% if not is_mobile %}

        {% if not user.is_authenticated %}

            {% url "django.contrib.auth.views.login" as login_url %}
            {% url "registration_register" as register_url %}
            <p>
                {% blocktrans %}
                    If you are a gardener and would like to start entering data, 
                    please 
                    <a href="{{ login_url }}" data-role="button">log in</a> 
                    first. If you don't yet have a login, you can 
                    <a href="{{ register_url }}">create one now</a>
                    If you are just visiting, we will eventually have some public 
                    reports here for you to view.
                {% endblocktrans %}
            </p>

            <p>
                {% blocktrans %}
                    If you have any problems or questions, please email us at 
                    <strong>gardens (at) farmingconcrete (dot) org</strong>.
                {% endblocktrans %}
            </p>

            <p>
                <a class="btn btn-default" href="{{ register_url }}">
                    {% trans "Register" %}
                </a>
                <a class="btn btn-primary" href="{{ login_url }}">
                    {% trans "Log in" %}
                </a>
            </p>

        {% else %}
            <div class="row">

                <div id="left">
                    <p>
                        {% blocktrans %}
                            Welcome to the 
                            <a href="http://farmingconcrete.org">Farming Concrete</a> Barn,
                            where we store our data.
                        {% endblocktrans %}
                    </p>
                    <section id="your-gardens-section">

                        {% if user_gardens %}
                            <h2 id="your-gardens-title">Your garden{{ user_gardens|pluralize }}</h2>
                            <ul class="garden-list">
                                {% for garden in user_gardens %}
                                    <li class="garden-list-garden row">
                                        <div class="col-md-6">
                                            {% include "farmingconcrete/gardens/_detail.html" with garden=garden %}
                                        </div>
                                        <div class="col-md-3">
                                            <a href="{% url "farmingconcrete_gardens_update" pk=garden.pk %}">
                                                {% trans "Edit" %}
                                            </a>
                                            |
                                            <a href="{% url "farmingconcrete_gardens_leave" pk=garden.pk %}">
                                                {% trans "Delete" %}
                                            </a>
                                        </div>
                                        <div class="col-md-3 garden-list-buttons btn-group-vertical">
                                            <a href="{% url "farmingconcrete_garden_details" pk=garden.pk %}" class="btn btn-default btn-mini">
                                                {% trans "Add data" %}
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>

                            <a href="{% url "farmingconcrete_gardens_add" %}" class="btn btn-primary">
                                Add a garden
                            </a>
                        {% else %}
                            <p>
                                It looks like you don't have access to any gardens yet.
                                Add one?
                            </p>
                        {% endif %}

                    </section>

                </div>

                <div id="right">
                    <div id="map" style="width: 100%; height: 300px;"
                        {% block map_options %}
                            data-l-zoom="8"
                            data-l-center="[40.71, -73.98]"
                            data-l-mapbox-id="farmingconcrete.i29og38a"
                            data-l-user_gardens="true"
                        {% endblock %}
                    ></div>
                </div>

            </div>
        {% endif %}
    {% else %}
        <div id="logo"></div>
        <h1 style="width: 100%; text-align: center;">Farming Concrete Barn</h1>
        <div>
            <ul data-role="listview" data-inset="true">
                {% if user.is_authenticated %}
                <li><a href="{% url "django.contrib.auth.views.logout" %}">Logout</a></li>
                {% else %}
                <li><a href="{% url "django.contrib.auth.views.login" %}">Login</a></li>
                {% endif %}
            </ul>
            <ul data-role="listview" data-inset="true">
            </ul>
            <div class="clear"></div>
        </div>
    {% endif %}

{% endblock %}

{% if is_mobile %}
    {% block header %}{% endblock %}
    {% block footer %}{% endblock %}
{% endif %}
