{% extends "base.html" %}

{% block header_title %}Your Gardens{% endblock %}

{% block content %}
    <p>
        <a href="{% url "farmingconcrete_gardens_add" %}" class="btn btn-primary">
            Add a garden
        </a>
    </p>
    <ul class="garden-list" data-role="listview">
        {% for garden in object_list %}
                <li class="garden-list-garden">
                    {% include "farmingconcrete/gardens/_detail.html" with garden=garden %}
                    <div class="garden-list-buttons">
                        <a href="{% url "farmingconcrete_gardens_yours_leave" pk=garden.pk %}" class="btn btn-danger btn-mini">
                            Leave
                        </a>
                    </div>
                </li>
        {% empty %}
            None.
        {% endfor %}
    </ul>
{% endblock %}
