{% extends "base.html" %}

{% block header_title %}Your Gardens{% endblock %}

{% block content %}
    {% for garden in object_list %}
        <ul class="garden-list" data-role="listview">
            <li class="garden-list-garden">
                <div>
                    <a href="{% url "farmingconcrete_garden_details" pk=garden.pk %}">
                        <span class="garden-list-garden-name">{{ garden.name }}</span>
                    </a>
                    <div class="garden-list-garden-details">
                        {% if garden.address %}
                            {{ garden.address }},
                        {% endif %}
                        {{ garden.borough }}
                    </div>
                </div>
                <div class="garden-list-buttons">
                    <a href="{% url "farmingconcrete_gardens_yours_leave" pk=garden.pk %}" class="btn btn-danger btn-mini">
                        Leave
                    </a>
                </div>
            </li>
        </ul>
    {% empty %}
        None.
    {% endfor %}
{% endblock %}
