{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}Make yield estimates{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">      
    <a href="../../../">{% trans "Home" %}</a> &rsaquo;
    <a href="../../">Estimates</a> &rsaquo; 
    <a href="../">Estimated yields</a> &rsaquo;
    {% trans 'Make yield estimates' %}      
</div>
{% endblock %}                 


{% block content %}
<div id="content-main">
    <h1>Make yield estimates</h1>

    <p>Make new yield estimates for harvests recorded between {{ start }} and {{ end }}?</p>

    <form action="." method="post">
        {% csrf_token %}
        <input type="checkbox" id="by_garden_type" name="by_garden_type"><label for="by_garden_type"> Estimate by garden type</br>
        <input type="submit" value="Yes" />
    </form>
</div>
{% endblock %}
