{% extends "metrics/_list_records.html" %}

{% block record_class %}yumyuck-change-record{% endblock %}

{% block record_detail %}
    <div class="field-vegetable">{{ record.vegetable }}</div>
    <div class="field-yum-before">{{ record.yum_before }} yums before</div>
    <div class="field-yuck-before">{{ record.yuck_before }} yucks before</div>
    <div class="field-yum-after">{{ record.yum_after }} yums after</div>
    <div class="field-yuck-after">{{ record.yuck_after }} yucks after</div>
{% endblock %}
