{% extends "metrics/summarize.html" %}
{% load i18n imagekit %}

{% block summary %}
    {{ block.super }}
    <li class="odd">
        {{ vegetables }} {% trans "vegetable" %}{{ vegetables|pluralize }}
    </li>
    <li class="even">
        {{ yum_before }} {% trans "yum" %}{{yum_before|pluralize }} 
        {% trans "before" %}
    </li>
    <li class="odd">
        {{ yuck_before }} {% trans "yuck" %}{{yuck_before|pluralize }} 
        {% trans "before" %}
    </li>
    <li class="even">
        {{ yum_after }} {% trans "yum" %}{{yum_after|pluralize }} 
        {% trans "after" %}
    </li>
    <li class="odd">
        {{ yuck_after }} {% trans "yuck" %}{{yuck_after|pluralize }} 
        {% trans "after" %}
    </li>
{% endblock %}
