{% extends "metrics/report_base.html" %}
{% load compost_tags static %}

{% block metric_description %}
    This is the description for compost by volume
{% endblock %}

{% block metric_summary %}
    <span class="metric-summary-number">
        {% compost_volume_total garden=garden start=min end=max as total %}
        {{ total|floatformat }}
    </span>
    <br />
    <span class="metric-summary-units">
        {{ "gallon"|upper }}
    </span>
{% endblock %}

{% block report_page_content %}
    <table>
        <tr></tr>
        <tr>
            <td style="width: 100px;"></td>
            <td>
                {% compost_volume_chart garden=garden start=min end=max as chart_url %}
                <img class="metric-chart metric-chart-compost-volume" src="{% get_media_prefix %}{{ chart_url }}" />
            </td>
        </tr>
    </table>
{% endblock %}
