{% extends "metrics/map_base.html" %}

{% block left %}
    <ul class="gardens">
        {% for garden in gardens %}
            <li id="{{ garden.id }}">
                {% if perms.can_edit_any_garden or garden in user_gardens %}
                    <a href="{% url "harvestcount_garden_details" id=garden.id year=request.session.year %}">{{ garden.name }}</a>
                {% else %}
                    <label>{{ garden.name }}</label>
                {% endif %}
            </li>
        {% empty %}
            None.
        {% endfor %}
    </ul>
{% endblock %}
