{% load static %}

<tr>
    <td class="gardener">
        {{ harvest.gardener.name }}
    </td> 
    <td class="variety">
        {{ harvest.variety.name }}
    </td>
    <td class="weight">
        {{ harvest.weight|floatformat }}
    </td>
    <td class="dimensions">
        {% if harvest.plants %}
        {{ harvest.plants|floatformat }} plants{% if harvest.area %},{% endif %}
        {% endif %}
        
        {% if harvest.area %}
        {{ harvest.area|floatformat }} sq ft
        {% endif %}
    </td>
    <td class="harvested">
        {{ harvest.recorded|date:"n/j/y" }}
    </td>
    <td class="actions">
        <a class="delete" href="{% url "harvestcount_delete_harvest" id=harvest.id %}">
            <img src="{% static "img/round_delete_small.png" %}" title="remove this bed" />
        </a>
    </td>
</tr>
