{% extends "metrics/map_base.html" %}
{% load static %}

{% block title %}{{ garden.name }}{% endblock %}
{% block header_title %}{{ garden.name }}{% endblock %}

{% block map_params %}
    type: 'single',
    id: {{ garden.id }},   
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {{ garden.name }}
{% endblock %}

{% block head %}
    {{ block.super }}

    <script type="text/javascript">
        $(document).ready(function() {
            $('a.delete').click(function(event) {
                if (!confirm("Are you sure you want to delete this harvest?")) {
                    return false;
                }
            });

            $('#id_gardener_text, #id_variety_text').focusout(function() {
                var gardener = $('#id_gardener_text').val();
                var variety = $('#id_variety_text').val();
                if (gardener && gardener !== '' && variety && variety !== '') {
                    $.getJSON('last_harvest?gardener=' + gardener + '&variety=' + variety, function(h) {
                        $('#id_plants').val(h.plants);   
                        $('#id_area').val(h.area);   
                    });
                }
            });

            $('#harvested_help').help({ text: 'Enter the date the harvest was taken. This helps us look at harvest over time and estimate yields for rotations within a growing season.' });
        });   
    </script>
{% endblock %}

{% block content %}
    {% if garden %}
        {% if not is_mobile %}
            <h1>{{ garden.name }}</h1>
        {% endif %}

        <div class="garden-details">
            {{ block.super }}
        </div>
    {% else %}
        <p>No such garden</p>
    {% endif %}
{% endblock %}

{% block left %}
    {% include "metrics/harvestcount/harvests/add_snippet.html" %}
    {% include "metrics/harvestcount/harvests/list_snippet.html" %}
{% endblock %}

{% block right %}
    {{ block.super }}
    {% if not is_mobile %}
        <ul class="overview">
            <li><b>{{ harvests.count|default:"0" }}</b> harvest{{ harvests.count|pluralize }}</li>
            <li><b>{{ weight|floatformat|default:"0" }}</b> pounds</li>
            <li><b>{{ plant_types|default:"0" }}</b> plant type{{ harvests.count|pluralize }}</li>
        </ul>
    {% endif %}
{% endblock %}

{% block actions %}
    <h2>
        <a class="image" href="{% url "harvestcount_download_garden_harvestcount_as_csv" id=garden.id year=request.session.year %}"><img src="{% static "img/download.png" %}" /></a>
        <a class="text" href="{% url "harvestcount_download_garden_harvestcount_as_csv" id=garden.id year=request.session.year %}">Download this as a spreadsheet</a>
    </h2>
    <h2>
        <a class="image" href="{% url "reports.views.garden_report" id=garden.id year=request.session.year %}"><img src="{% static "img/round_arrow_right.png" %}" /></a>
        <a class="text" href="{% url "reports.views.garden_report" id=garden.id year=request.session.year %}">View this garden's report</a>
    </h2>
    {{ block.super }}
    <h2>
        <a class="image" href="{% url "harvestcount_index" year=request.session.year %}"><img src="{% static "img/round_checkmark.png" %}" /></a>
        <a class="text" href="{% url "harvestcount_index" year=request.session.year %}">Done adding harvests to this garden!</a>
    </h2>
{% endblock %}
