{% load widget_tweaks %}

<div class="form-group {% if field.errors %}has-error{% endif %} {% if field.field.required %}required{% endif %}">
    <div class="col-lg-4 col-md-5 col-sm-4 control-label">
        {{ field.label_tag }}
    </div>
    <div class="col-lg-6 col-md-7 col-sm-8">

        <div class="controls">
            {% render_field field class+="form-control" %}

            {% if field.errors %}
                <div class="help-block">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% if field.help_text %}
                <div class="help-text">{{ field.help_text|safe }}</div>
            {% endif %}

        </div>
    </div>
</div>
