{% extends "metrics/_list_records.html" %}
{% load metrics_tags static %}

{% block record_list %}
    <ul>
        {% metric_content_type metric for "cropcount.Box" as content_type %}
        {% for record in records %}
            <li class="record cropcount-bed-record" data-record-type-pk="{{ content_type.pk }}" data-pk="{{ record.pk }}">

                <div class="field-name">
                    <a href="{% url "cropcount_bed_details" id=record.pk %}">bed {{ record.name }}</a>
                </div> 

                <div class="field-recorded">{{ record.recorded|date:"m/d/Y" }}</div>

                <div class="field-bed-details">
                    <div class="field-dimensions">
                        {{ record.width }} ft x {{ record.length }} ft
                    </div>
                    <div class="field-recorded-details">
                        {{ record.patch_set.all.0.recorded|date:"m/d/Y" }}
                    </div>
                    <ul class="field-patches">
                        {% for patch in record.patch_set.all %}
                            <li class="field-patch">
                                <div class="field-quantity">
                                    {% if patch.plants %}
                                        {{ patch.plants }} plants
                                    {% endif %}
                                    {% if patch.area %}
                                        {{ patch.area }} square feet
                                    {% endif %}
                                </div>
                                <div class="field-variety-name">{{ patch.variety.name }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {% ifcandelete metric %}
                    <div class="actions">
                        <a class="delete-record">Delete</a>
                    </div>
                {% endifcandelete %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
