{% extends "metrics/_list_records.html" %}
{% load metrics_tags static %}

{% block record_class %}cropcount-bed-record{% endblock %}

{% block record_row_content %}
    <div class="field-name">
        bed {{ record.name }}
    </div> 
    <div class="field-bed-details">
        <div class="field-dimensions">
            {{ record.width }} ft x {{ record.length }} ft
        </div>

        <div class="field-recorded-details">
            {{ record.patch_set.all.0.recorded|date:"m/d/Y" }}
            by {{ record.patch_set.all.0.added_by_display }}
        </div>

        <ul class="field-patches">
            {% metric_content_type metric as content_type %}
            {% for patch in record.patch_set.all %}
                <li class="field-patch record" data-record-type-pk="{{ content_type.pk }}" data-pk="{{ patch.pk }}">
                    <div class="field-quantity">
                        {{ patch.quantity|floatformat }} {{ patch.units }}
                    </div>
                    <div class="field-crop-name">
                        {{ patch.crop.name }}
                        {% if patch.crop_variety %}
                            ({{ patch.crop_variety.name }})
                        {% endif %}
                    </div>

                    {% ifcandelete metric %}
                        <div class="actions">
                            <a class="delete-record delete-record-patch">Delete</a>
                        </div>
                    {% endifcandelete %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block record_delete %}
    <div class="actions">
        <a href="#" class="delete-bed" data-record-type-pk="{{ metric.bed_content_type.pk }}" data-pk="{{ record.pk }}">Delete bed</a>
    </div>
{% endblock %}
