{% extends "metrics/_list_records.html" %}
{% load static %}

{% block record_list %}
    {% if bed_list %}
        {% for month in bed_months %}
            <li class="month">
                <span class="month-name">Added in {{ month }}</span>
                <ul class="values">
                    {% for box in bed_list %}
                        {% with box.added|date:"F" as m %}
                            {% if m == month %}
                                <li class="bed">
                                    {% include "metrics/cropcount/beds/detail_snippet.html" %}
                                </li>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    {% else %}
        <li>No beds yet.</li>
    {% endif %}
{% endblock %}
