{% load i18n widget_tweaks %}

<section id="new-bed" class="add-record">
    <form method="post" action="{% url "cropcount_add_bed" id=garden.pk %}" class="form-horizontal" role="form">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div id="errors">
            {{ form.non_field_errors }}
            {{ form.garden.errors }}
            {{ form.name.errors }}
            {{ form.width.errors }}
            {{ form.length.errors }}
        </div>
        <div id="inputs">
            <div class="form-group required">
                <div class="control-label col-lg-4">
                    {{ form.name.label_tag }}
                </div>
                <div class="controls col-lg-6">
                    {% render_field form.name class+="form-control tooltip-trigger" data-title="Enter the number for this bed. If you do not have a number for the bed, the default given should be okay." data-trigger="hover focus" %}
                </div>
            </div>
            <div class="form-group required">
                <div class="control-label col-lg-4">
                    {{ form.width.label_tag }}
                </div>
                <div class="controls col-lg-6">
                    <span style="white-space: nowrap;">
                        <div class="col-lg-6" style="padding-left: 0;">
                            {% render_field form.width class+="form-control tooltip-trigger" data-title="Enter the dimensions for this bed. This helps us determine how much space is being used to grow food." data-trigger="hover focus" data-container="body" %} ft x
                        </div>
                        <div class="col-lg-6" style="padding-right: 0;">
                            {% render_field form.length class+="form-control" %} ft
                        </div>
                    </span>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="form-actions">
                <div class="col-lg-offset-4 col-lg-6">
                    <button class="btn btn-primary" type="submit">
                        {% trans "add" %}
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</section>
