{% load i18n widget_tweaks %}

<section id="new-bed">
    <form method="post" action="{% url "cropcount_add_bed" id=garden.pk %}" class="form-horizontal" role="form">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <div id="errors">
            {{ form.non_field_errors }}
            {{ form.garden.errors }}
            {{ form.name.errors }}
            {{ form.width.errors }}
            {{ form.length.errors }}
        </div>
        <div id="inputs">

            <div class="fields">
                {% include "forms/field.html" with field=form.name %}

                <div class="form-group field-dimensions required">
                    <div class="control-label">
                        {{ form.width.label_tag }}
                    </div>
                    <div class="controls">
                        {% render_field form.width class+="form-control tooltip-trigger" data-title="Enter the dimensions for this bed. This helps us determine how much space is being used to grow food." data-trigger="hover focus" data-container="body" %} x
                        {% render_field form.length class+="form-control" %}
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button class="btn btn-primary" type="submit">
                    {% trans "submit" %}
                </button>
            </div>
        </div>
    </form>
</section>
