{% load static %}

<span class="name">
    <a href="{% url "cropcount_bed_details" id=box.id %}">bed {{ box.name }}</a>
</span> 
<span class="dimensions">
    {{ box.width }} ft x {{ box.length }} ft
</span>
<span class="actions">
    <a class="delete" href="{% url "cropcount_delete_bed" id=box.id %}">
        Delete
    </a>
</span>
<div id="plants">
    <ul class="values">
        {% for patch in box.patch_set.all %}
        <li class="{% cycle 'odd' 'even' %}">
            <span class="type">{{ patch.variety.name }}</span>
            
            <span class="quantity">
                {% if patch.plants %}
                {{ patch.plants }} plants
                {% endif %}
                {% if patch.area %}
                {{ patch.area }} square feet
                {% endif %}
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
