{% extends "metrics/report_base.html" %}
{% load sales_tags static %}

{% block metric_summary %}
    <span class="metric-summary-number">
        {% sales_total garden=garden start=min end=max as total %}
        ${{ total|floatformat:"2" }}
    </span>
    <br />
    <span class="metric-summary-units">
        {{ "sold"|upper }}
    </span>
{% endblock %}

{% block report_page_content %}
    <table>
        <tr></tr>
        <tr>
            <td class="metric-chart-left-padding"></td>
            <td>
                {% sales_chart garden=garden start=min end=max as chart_url %}
                <img class="metric-chart metric-chart-sales" src="{% get_media_prefix %}{{ chart_url }}" />
            </td>
        </tr>
    </table>
{% endblock %}
